email-classifer/workflow.json
{
  "name": "Email Organiser",
  "nodes": [
    {
      "id": "98d693f3-c299-4790-b5f5-f5ad924f0bbb",
      "name": "Backfill Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -760,
        -160
      ],
      "parameters": {
        "path": "email-organiser-backfill",
        "formTitle": "Email organiser backfill",
        "formDescription": "Start a bulk email classification pass.",
        "formFields": {
          "values": []
        },
        "options": {}
      }
    },
    {
      "id": "bc474afe-e926-4424-9d2d-d8855ba362a6f",
      "name": "Configure Proton IMAP batch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -520,
        80
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-mode",
              "name": "runMode",
              "value": "fetch_batch",
              "type": "string"
            },
            {
              "id": "batch-limit",
              "name": "batchLimit",
              "value": 50,
              "type": "number"
            },
            {
              "id": "max-batches",
              "name": "maxBatches",
              "value": 0,
              "type": "number"
            },
            {
              "id": "imap-host",
              "name": "imapHost",
              "value": "192.168.3.200",
              "type": "string"
            },
            {
              "id": "imap-port",
              "name": "imapPort",
              "value": 1143,
              "type": "number"
            },
            {
              "id": "imap-ssl",
              "name": "imapSsl",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "imap-starttls",
              "name": "imapStartTls",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "source-mailbox",
              "name": "sourceMailbox",
              "value": "INBOX",
              "type": "string"
            },
            {
              "id": "label-prefix",
              "name": "labelPrefix",
              "value": "Labels",
              "type": "string"
            },
            {
              "id": "state-label",
              "name": "stateLabel",
              "value": "Classified",
              "type": "string"
            },
            {
              "id": "dry-run",
              "name": "dryRun",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "raw-fetch-byte-limit",
              "name": "rawFetchByteLimit",
              "value": 65536,
              "type": "number"
            },
            {
              "id": "fetch-watchdog-ms",
              "name": "fetchWatchdogMs",
              "value": 120000,
              "type": "number"
            },
            {
              "id": "uid-search-window",
              "name": "uidSearchWindow",
              "value": 500,
              "type": "number"
            },
            {
              "id": "imap-pairs-json",
              "name": "imapPairsJson",
              "value": "[\n  {\n    \"id\": \"imap-1\",\n    \"host\": \"192.168.3.200\",\n    \"port\": 1143,\n    \"hostVar\": \"IMAP_1_HOST\",\n    \"portVar\": \"IMAP_1_PORT\",\n    \"ssl\": false,\n    \"startTls\": true,\n    \"allowUnauthorizedCerts\": true,\n    \"userVar\": \"IMAP_1_USER\",\n    \"passwordVar\": \"IMAP_1_PASSWORD\",\n    \"sourceMailboxes\": [\n      \"INBOX\"\n    ],\n    \"labelPrefix\": \"Labels\",\n    \"stateLabel\": \"Classified\",\n    \"rawFetchByteLimit\": 65536\n  },\n  {\n    \"id\": \"imap-2\",\n    \"host\": \"192.168.3.200\",\n    \"port\": 1143,\n    \"hostVar\": \"IMAP_2_HOST\",\n    \"portVar\": \"IMAP_2_PORT\",\n    \"ssl\": false,\n    \"startTls\": true,\n    \"allowUnauthorizedCerts\": true,\n    \"userVar\": \"IMAP_2_USER\",\n    \"passwordVar\": \"IMAP_2_PASSWORD\",\n    \"sourceMailboxes\": [\n      \"INBOX\"\n    ],\n    \"labelPrefix\": \"Labels\",\n    \"stateLabel\": \"Classified\",\n    \"rawFetchByteLimit\": 65536\n  }\n]",
              "type": "string"
            },
            {
              "id": "embedding-base-url",
              "name": "embeddingBaseUrl",
              "value": "http://192.168.1.100:11434",
              "type": "string"
            },
            {
              "id": "embedding-model",
              "name": "embeddingModel",
              "value": "embeddinggemma",
              "type": "string"
            },
            {
              "id": "email-actions-mode",
              "name": "emailActionsMode",
              "value": "live",
              "type": "string"
            },
            {
              "id": "action-archive-mailbox",
              "name": "actionArchiveMailbox",
              "value": "Archive",
              "type": "string"
            },
            {
              "id": "action-spam-mailbox",
              "name": "actionSpamMailbox",
              "value": "Spam",
              "type": "string"
            },
            {
              "id": "action-trash-mailbox",
              "name": "actionTrashMailbox",
              "value": "Trash",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      }
    },
    {
      "id": "eb8663f6-c55f-4779-a7fd-3f99d9be0403",
      "name": "Get next 50 unclassified emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -250,
        80
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const net = require('net');\nconst tls = require('tls');\n\nconst SOURCE_HEADER_FIELDS = [\n  'FROM',\n  'TO',\n  'SUBJECT',\n  'DATE',\n  'MESSAGE-ID',\n  'DELIVERED-TO',\n  'X-ORIGINAL-TO',\n  'CONTENT-TYPE',\n  'CONTENT-TRANSFER-ENCODING',\n].join(' ');\nconst MESSAGE_ID_HEADER_FIELDS = 'MESSAGE-ID';\n\nclass ImapClient {\n  constructor(config) {\n    this.host = config.host;\n    this.port = config.port;\n    this.ssl = config.ssl;\n    this.startTls = config.startTls;\n    this.allowUnauthorizedCerts = config.allowUnauthorizedCerts;\n    this.rawFetchByteLimit = config.rawFetchByteLimit;\n    this.socket = null;\n    this.buffer = '';\n    this.waiters = [];\n    this.tagCounter = 0;\n  }\n\n  attachSocket(socket) {\n    this.socket = socket;\n    this.socket.setEncoding('binary');\n    this.socket.on('data', (chunk) => {\n      this.buffer += chunk;\n      this.flushWaiters();\n    });\n    this.socket.on('error', (error) => {\n      for (const waiter of this.waiters.splice(0)) waiter.reject(error);\n    });\n  }\n\n  flushWaiters() {\n    for (let index = 0; index < this.waiters.length; index += 1) {\n      const waiter = this.waiters[index];\n      let result;\n      try {\n        result = waiter.tryRead(this.buffer);\n      } catch (error) {\n        clearTimeout(waiter.timer);\n        this.waiters.splice(index, 1);\n        waiter.reject(error);\n        index -= 1;\n        continue;\n      }\n      if (!result) continue;\n      clearTimeout(waiter.timer);\n      this.buffer = this.buffer.slice(result.consumed);\n      this.waiters.splice(index, 1);\n      waiter.resolve(result.value);\n      index -= 1;\n    }\n  }\n\n  readWith(tryRead, timeoutMs = 30000) {\n    return new Promise((resolve, reject) => {\n      const waiter = {\n        tryRead,\n        resolve,\n        reject,\n        timer: setTimeout(() => {\n          const idx = this.waiters.indexOf(waiter);\n          if (idx >= 0) this.waiters.splice(idx, 1);\n          reject(new Error('Timed out waiting for IMAP response'));\n        }, timeoutMs),\n      };\n      this.waiters.push(waiter);\n      this.flushWaiters();\n    });\n  }\n\n  readLine() {\n    return this.readWith((buffer) => {\n      const end = buffer.indexOf('\\r\\n');\n      if (end < 0) return null;\n      return { value: buffer.slice(0, end), consumed: end + 2 };\n    });\n  }\n\n  tlsOptions(options) {\n    const tlsOptions = {\n      ...options,\n      rejectUnauthorized: !this.allowUnauthorizedCerts,\n    };\n    if (!net.isIP(this.host)) {\n      tlsOptions.servername = this.host;\n    }\n    return tlsOptions;\n  }\n\n  async connect() {\n    const socket = this.ssl\n      ? tls.connect(this.tlsOptions({\n          host: this.host,\n          port: this.port,\n        }))\n      : net.connect({ host: this.host, port: this.port });\n\n    this.attachSocket(socket);\n    await new Promise((resolve, reject) => {\n      socket.once('connect', resolve);\n      socket.once('secureConnect', resolve);\n      socket.once('error', reject);\n    });\n    await this.readLine();\n\n    if (!this.ssl && this.startTls) {\n      await this.command('STARTTLS');\n      this.socket.removeAllListeners('data');\n      this.socket = tls.connect(this.tlsOptions({\n        socket: this.socket,\n      }));\n      this.attachSocket(this.socket);\n      await new Promise((resolve, reject) => {\n        this.socket.once('secureConnect', resolve);\n        this.socket.once('error', reject);\n      });\n    }\n  }\n\n  nextTag() {\n    this.tagCounter += 1;\n    return `A${String(this.tagCounter).padStart(4, '0')}`;\n  }\n\n  command(commandText, timeoutMs = 60000) {\n    const tag = this.nextTag();\n    this.socket.write(`${tag} ${commandText}\\r\\n`, 'binary');\n    const pattern = new RegExp(`(^|\\\\r\\\\n)${tag} (OK|NO|BAD)[^\\\\r\\\\n]*(\\\\r\\\\n|$)`);\n    return this.readWith((buffer) => {\n      const match = pattern.exec(buffer);\n      if (!match) return null;\n      const end = match.index + match[0].length;\n      const response = buffer.slice(0, end);\n      if (match[2] !== 'OK') throw new Error(`IMAP ${commandText} failed: ${response}`);\n      return { value: response, consumed: end };\n    }, timeoutMs);\n  }\n\n  async login(username, password) {\n    await this.command(`LOGIN ${quoteString(username)} ${quoteString(password)}`);\n  }\n\n  async select(mailbox) {\n    return await this.command(`SELECT ${quoteString(mailbox)}`);\n  }\n\n  async mailboxExists(mailbox) {\n    const response = await this.command(`LIST \"\" ${quoteString(mailbox)}`);\n    return /\\* LIST /i.test(response);\n  }\n\n  async searchAll(mailbox) {\n    await this.select(mailbox);\n    const response = await this.command('UID SEARCH ALL');\n    return parseSearchResponse(response);\n  }\n\n  async uidNext(mailbox) {\n    const response = await this.select(mailbox);\n    const match = /\\[UIDNEXT\\s+(\\d+)\\]/i.exec(response);\n    if (!match) throw new Error(`IMAP SELECT ${mailbox} did not return UIDNEXT`);\n    return Number(match[1]);\n  }\n\n  async searchUidRange(mailbox, startUid, endUid) {\n    await this.select(mailbox);\n    const response = await this.command(`UID SEARCH UID ${startUid}:${endUid}`, 60000);\n    return parseSearchResponse(response);\n  }\n\n  async searchMessageId(mailbox, messageId) {\n    await this.select(mailbox);\n    const response = await this.command(`UID SEARCH HEADER Message-ID ${quoteString(messageId)}`, 60000);\n    return parseSearchResponse(response);\n  }\n\n  async fetchHeaders(uid, mailbox, fields = SOURCE_HEADER_FIELDS) {\n    await this.select(mailbox);\n    const response = await this.command(`UID FETCH ${uid} (BODY.PEEK[HEADER.FIELDS (${fields})])`, 60000);\n    return firstLiteral(response);\n  }\n\n  async fetchHeadersForUids(uids, mailbox, fields = SOURCE_HEADER_FIELDS) {\n    if (uids.length === 0) return [];\n    await this.select(mailbox);\n    const response = await this.command(`UID FETCH ${uids.join(',')} (BODY.PEEK[HEADER.FIELDS (${fields})])`, 120000);\n    return fetchLiterals(response);\n  }\n\n  async fetchMessageIds(mailbox) {\n    const uids = await this.searchAll(mailbox);\n    const messageIds = new Set();\n    for (const batch of chunked(uids, 100)) {\n      const headersByUid = await this.fetchHeadersForUids(batch, mailbox, MESSAGE_ID_HEADER_FIELDS);\n      for (const entry of headersByUid) {\n        const headers = parseHeaders(entry.literal);\n        const messageId = headers['message-id'] || '';\n        if (messageId) messageIds.add(messageId);\n      }\n    }\n    return messageIds;\n  }\n\n  async fetchRaw(uid, mailbox) {\n    await this.select(mailbox);\n    const response = await this.command(`UID FETCH ${uid} (BODY.PEEK[]<0.${this.rawFetchByteLimit}>)`, 60000);\n    return firstLiteral(response);\n  }\n\n  async logout() {\n    try {\n      await this.command('LOGOUT', 10000);\n    } finally {\n      this.socket?.end();\n    }\n  }\n}\n\nfunction quoteString(value) {\n  return `\"${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"`;\n}\n\nfunction parseSearchResponse(response) {\n  const match = response.match(/\\* SEARCH([^\\r\\n]*)/i);\n  if (!match) return [];\n  return match[1].trim().split(/\\s+/).filter(Boolean);\n}\n\nfunction firstLiteral(response) {\n  const match = response.match(/\\{(\\d+)\\}\\r\\n/);\n  if (!match) throw new Error('IMAP FETCH response did not include a message literal');\n  const start = match.index + match[0].length;\n  const length = Number(match[1]);\n  return response.slice(start, start + length);\n}\n\nfunction fetchLiterals(response) {\n  const literals = [];\n  const literalPattern = /\\{(\\d+)\\}\\r\\n/g;\n  let match;\n\n  while ((match = literalPattern.exec(response))) {\n    const literalStart = literalPattern.lastIndex;\n    const length = Number(match[1]);\n    const literal = response.slice(literalStart, literalStart + length);\n    const lineStart = response.lastIndexOf('\\r\\n* ', match.index);\n    const prefixStart = lineStart >= 0 ? lineStart + 2 : 0;\n    const prefix = response.slice(prefixStart, match.index);\n    const uid = /UID\\s+(\\d+)/i.exec(prefix)?.[1];\n    if (uid) literals.push({ uid: String(uid), literal });\n    literalPattern.lastIndex = literalStart + length;\n  }\n\n  return literals;\n}\n\nfunction parseHeaders(rawHeaders) {\n  const headers = {};\n  const unfolded = rawHeaders.replace(/\\r?\\n[ \\t]+/g, ' ');\n  for (const line of unfolded.split(/\\r?\\n/)) {\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const key = line.slice(0, idx).trim().toLowerCase();\n    const value = line.slice(idx + 1).trim();\n    if (!headers[key]) headers[key] = value;\n  }\n  return headers;\n}\n\nfunction decodeEncodedWords(value) {\n  return String(value || '').replace(/=\\?([^?]+)\\?([bqBQ])\\?([^?]*)\\?=/g, (_match, charset, encoding, text) => {\n    try {\n      const normalized = encoding.toUpperCase() === 'B'\n        ? Buffer.from(text.replace(/\\s+/g, ''), 'base64')\n        : Buffer.from(text.replace(/_/g, ' ').replace(/=([a-fA-F0-9]{2})/g, (_, hex) => String.fromCharCode(parseInt(hex, 16))), 'binary');\n      return normalized.toString(/utf-?8/i.test(charset) ? 'utf8' : 'latin1');\n    } catch {\n      return text;\n    }\n  });\n}\n\nfunction senderParts(header) {\n  const decoded = decodeEncodedWords(header || '');\n  const match = decoded.match(/^(.*?)\\s*<([^>]+)>$/);\n  if (match) {\n    return {\n      from: decoded,\n      sender_name: match[1].replace(/^\"|\"$/g, '').trim(),\n      sender_email: match[2].trim(),\n    };\n  }\n  return {\n    from: decoded,\n    sender_name: '',\n    sender_email: decoded.includes('@') ? decoded.trim() : '',\n  };\n}\n\nfunction recipientParts(header) {\n  const decoded = decodeEncodedWords(header || '');\n  const primary = decoded.split(/,(?=(?:[^\"]*\"[^\"]*\")*[^\"]*$)/)[0]?.trim() || decoded;\n  const match = primary.match(/^(.*?)\\s*<([^>]+)>$/);\n  if (match) {\n    const email = match[2].trim();\n    return {\n      to: decoded,\n      recipient: email,\n      recipient_name: match[1].replace(/^\"|\"$/g, '').trim(),\n      recipient_email: email,\n    };\n  }\n  const email = primary.includes('@') ? primary.trim() : '';\n  return {\n    to: decoded,\n    recipient: email || decoded,\n    recipient_name: '',\n    recipient_email: email,\n  };\n}\n\nfunction decodeQuotedPrintable(value) {\n  return String(value || '')\n    .replace(/=\\r?\\n/g, '')\n    .replace(/=([a-fA-F0-9]{2})/g, (_match, hex) => String.fromCharCode(parseInt(hex, 16)));\n}\n\nfunction decodeBody(body, headers) {\n  const encoding = String(headers['content-transfer-encoding'] || '').toLowerCase();\n  if (encoding === 'base64') {\n    return Buffer.from(String(body || '').replace(/\\s+/g, ''), 'base64').toString('utf8');\n  }\n  if (encoding === 'quoted-printable') {\n    return Buffer.from(decodeQuotedPrintable(body), 'binary').toString('utf8');\n  }\n  return String(body || '');\n}\n\nfunction stripHtml(value) {\n  return String(value || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction splitRawMessage(raw) {\n  const delimiter = raw.includes('\\r\\n\\r\\n') ? '\\r\\n\\r\\n' : '\\n\\n';\n  const idx = raw.indexOf(delimiter);\n  if (idx < 0) return { headersRaw: raw, bodyRaw: '' };\n  return {\n    headersRaw: raw.slice(0, idx),\n    bodyRaw: raw.slice(idx + delimiter.length),\n  };\n}\n\nfunction messageBody(raw, headers) {\n  const bodyRaw = splitRawMessage(raw).bodyRaw;\n  const contentType = String(headers['content-type'] || '').toLowerCase();\n  const boundary = /boundary=\"?([^\";]+)\"?/i.exec(headers['content-type'] || '')?.[1];\n\n  if (boundary) {\n    const parts = bodyRaw.split(`--${boundary}`);\n    let htmlFallback = '';\n    for (const part of parts) {\n      const split = splitRawMessage(part.trim());\n      const partHeaders = parseHeaders(split.headersRaw);\n      const partType = String(partHeaders['content-type'] || '').toLowerCase();\n      if (/attachment/i.test(partHeaders['content-disposition'] || '')) continue;\n      const decoded = decodeBody(split.bodyRaw, partHeaders);\n      if (partType.includes('text/plain') && decoded.trim()) return decoded.trim();\n      if (partType.includes('text/html') && !htmlFallback) htmlFallback = stripHtml(decoded);\n    }\n    return htmlFallback;\n  }\n\n  const decoded = decodeBody(bodyRaw, headers);\n  return contentType.includes('text/html') ? stripHtml(decoded) : decoded.trim();\n}\n\nfunction summaryFromRaw(uid, raw, config) {\n  const split = splitRawMessage(raw);\n  const headers = parseHeaders(split.headersRaw);\n  const sender = senderParts(headers.from || '');\n  const recipient = recipientParts(headers.to || headers['delivered-to'] || headers['x-original-to'] || '');\n  const subject = decodeEncodedWords(headers.subject || '');\n  const body = messageBody(raw, headers).replace(/\\s+/g, ' ').trim().slice(0, 4000);\n\n  return {\n    uid: String(uid),\n    message_id: headers['message-id'] || '',\n    ...sender,\n    ...recipient,\n    subject,\n    email_subject: subject,\n    date: headers.date || '',\n    body_preview: body,\n    email_body: body,\n    sourceFlow: 'bulk',\n    runMode: 'apply_labels',\n    credentialPairId: config.id,\n    credentialPair: publicCredentialPair(config),\n    sourceMailbox: config.sourceMailbox,\n    labelPrefix: config.labelPrefix,\n    stateLabel: config.stateLabel,\n    dryRun: config.dryRun,\n    imapHost: config.host,\n    imapPort: config.port,\n    imapSsl: config.ssl,\n    imapStartTls: config.startTls,\n  };\n}\n\nfunction configValue(source, key, fallback) {\n  const value = source[key];\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nfunction boolValue(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n}\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed)) {\n    throw new Error(`${description} must be a number`);\n  }\n  return parsed;\n}\n\nfunction envValue(name) {\n  try {\n    if (typeof $vars !== 'undefined' && $vars?.[name]) return $vars[name];\n  } catch {}\n  try {\n    if (typeof vars !== 'undefined' && vars?.[name]) return vars[name];\n  } catch {}\n  try {\n    if (typeof $env !== 'undefined' && $env?.[name]) return $env[name];\n  } catch {}\n  try {\n    if (typeof env !== 'undefined' && env?.[name]) return env[name];\n  } catch {}\n  return '';\n}\n\nfunction listValue(value, fallback) {\n  if (Array.isArray(value)) return value.map((item) => String(item).trim()).filter(Boolean);\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (!trimmed) return fallback;\n    if (trimmed.startsWith('[')) {\n      const parsed = JSON.parse(trimmed);\n      if (!Array.isArray(parsed)) throw new Error('Expected sourceMailboxes JSON to be an array');\n      return parsed.map((item) => String(item).trim()).filter(Boolean);\n    }\n    return trimmed.split(',').map((item) => item.trim()).filter(Boolean);\n  }\n  return fallback;\n}\n\nfunction parseCredentialPairs(value) {\n  if (Array.isArray(value)) return value;\n  if (typeof value === 'string' && value.trim()) {\n    const parsed = JSON.parse(value);\n    if (!Array.isArray(parsed)) throw new Error('imapPairsJson must contain a JSON array');\n    return parsed;\n  }\n  return [];\n}\n\nfunction normalizeCredentialPair(rawPair, index, defaults) {\n  const pair = rawPair && typeof rawPair === 'object' ? rawPair : {};\n  const id = String(configValue(pair, 'id', `imap-${index + 1}`));\n  const hostVar = String(configValue(pair, 'hostVar', defaults.hostVar));\n  const portVar = String(configValue(pair, 'portVar', defaults.portVar));\n  const host = String(envValue(hostVar) || configValue(pair, 'host', defaults.host));\n  const port = numberValue(\n    envValue(portVar) || configValue(pair, 'port', defaults.port),\n    defaults.port,\n    `Credential pair ${id} port`,\n  );\n  const sourceMailboxes = listValue(\n    pair.sourceMailboxes ?? pair.sourceMailbox,\n    [defaults.sourceMailbox],\n  );\n\n  if (sourceMailboxes.length === 0) {\n    throw new Error(`Credential pair ${id} must include at least one source mailbox`);\n  }\n\n  return {\n    id,\n    host,\n    port,\n    hostVar,\n    portVar,\n    ssl: boolValue(pair.ssl ?? pair.imapSsl, defaults.ssl),\n    startTls: boolValue(pair.startTls ?? pair.imapStartTls, defaults.startTls),\n    allowUnauthorizedCerts: boolValue(\n      pair.allowUnauthorizedCerts,\n      defaults.allowUnauthorizedCerts,\n    ),\n    userVar: String(configValue(pair, 'userVar', defaults.userVar)),\n    passwordVar: String(configValue(pair, 'passwordVar', defaults.passwordVar)),\n    sourceMailboxes,\n    labelPrefix: String(configValue(pair, 'labelPrefix', defaults.labelPrefix)),\n    stateLabel: String(configValue(pair, 'stateLabel', defaults.stateLabel)),\n    rawFetchByteLimit: numberValue(\n      configValue(pair, 'rawFetchByteLimit', defaults.rawFetchByteLimit),\n      defaults.rawFetchByteLimit,\n      `Credential pair ${id} raw fetch byte limit`,\n    ),\n    dryRun: defaults.dryRun,\n  };\n}\n\nfunction credentialPairsFromConfig(inputConfig, defaults) {\n  const configuredPairs = parseCredentialPairs(\n    inputConfig.imapPairs ?? inputConfig.imapPairsJson ?? inputConfig.credentialPairs ?? inputConfig.credentialPairsJson,\n  );\n\n  const pairs = configuredPairs.length > 0\n    ? configuredPairs\n    : [{\n        id: 'imap-1',\n        host: defaults.host,\n        port: defaults.port,\n        hostVar: defaults.hostVar,\n        portVar: defaults.portVar,\n        ssl: defaults.ssl,\n        startTls: defaults.startTls,\n        allowUnauthorizedCerts: defaults.allowUnauthorizedCerts,\n        userVar: defaults.userVar,\n        passwordVar: defaults.passwordVar,\n        sourceMailboxes: [defaults.sourceMailbox],\n        labelPrefix: defaults.labelPrefix,\n        stateLabel: defaults.stateLabel,\n        rawFetchByteLimit: defaults.rawFetchByteLimit,\n      }];\n\n  return pairs.map((pair, index) => normalizeCredentialPair(pair, index, defaults));\n}\n\nfunction chunked(values, size) {\n  const chunks = [];\n  for (let index = 0; index < values.length; index += size) {\n    chunks.push(values.slice(index, index + size));\n  }\n  return chunks;\n}\n\nclass FetchWatchdogExceeded extends Error {\n  constructor(elapsedMs, progress) {\n    super(`Fetch watchdog exceeded after ${elapsedMs}ms: ${JSON.stringify(progress)}`);\n    this.name = 'FetchWatchdogExceeded';\n    this.elapsedMs = elapsedMs;\n    this.progress = { ...progress };\n  }\n}\n\nfunction assertFetchWithinWatchdog(startedAt, fetchWatchdogMs, progress) {\n  if (fetchWatchdogMs <= 0) return;\n  const elapsedMs = Date.now() - startedAt;\n  if (elapsedMs > fetchWatchdogMs) {\n    throw new FetchWatchdogExceeded(elapsedMs, progress);\n  }\n}\n\nfunction withProgressError(error, progress) {\n  if (error && typeof error.message === 'string' && !error.message.includes('fetch progress')) {\n    error.message = `${error.message}; fetch progress ${JSON.stringify(progress)}`;\n  }\n  return error;\n}\n\nfunction publicCredentialPair(pair) {\n  return {\n    id: pair.id,\n    host: pair.host,\n    port: pair.port,\n    hostVar: pair.hostVar,\n    portVar: pair.portVar,\n    ssl: pair.ssl,\n    startTls: pair.startTls,\n    allowUnauthorizedCerts: pair.allowUnauthorizedCerts,\n    userVar: pair.userVar,\n    passwordVar: pair.passwordVar,\n    sourceMailboxes: pair.sourceMailboxes,\n    labelPrefix: pair.labelPrefix,\n    stateLabel: pair.stateLabel,\n    rawFetchByteLimit: pair.rawFetchByteLimit,\n  };\n}\n\nlet inputConfig = {};\ntry {\n  inputConfig = $('Configure Proton IMAP batch').first().json;\n} catch {\n  inputConfig = $input.first()?.json ?? {};\n}\n\nconst runIndex = typeof $runIndex === 'number' ? $runIndex : 0;\nconst defaults = {\n  host: String(configValue(inputConfig, 'imapHost', '192.168.3.200')),\n  port: numberValue(configValue(inputConfig, 'imapPort', 1143), 1143, 'Default IMAP port'),\n  hostVar: String(configValue(inputConfig, 'imapHostVar', 'IMAP_HOST')),\n  portVar: String(configValue(inputConfig, 'imapPortVar', 'IMAP_PORT')),\n  ssl: boolValue(inputConfig.imapSsl, false),\n  startTls: boolValue(inputConfig.imapStartTls, true),\n  allowUnauthorizedCerts: boolValue(inputConfig.allowUnauthorizedCerts, true),\n  sourceMailbox: String(configValue(inputConfig, 'sourceMailbox', 'INBOX')),\n  labelPrefix: String(configValue(inputConfig, 'labelPrefix', 'Labels')),\n  stateLabel: String(configValue(inputConfig, 'stateLabel', 'Classified')),\n  userVar: String(configValue(inputConfig, 'userVar', 'IMAP_USER')),\n  passwordVar: String(configValue(inputConfig, 'passwordVar', 'IMAP_PASSWORD')),\n  batchLimit: Number(configValue(inputConfig, 'batchLimit', 50)),\n  maxBatches: numberValue(configValue(inputConfig, 'maxBatches', 0), 0, 'Max batches'),\n  rawFetchByteLimit: numberValue(configValue(inputConfig, 'rawFetchByteLimit', 65536), 65536, 'Raw fetch byte limit'),\n  fetchWatchdogMs: numberValue(configValue(inputConfig, 'fetchWatchdogMs', 120000), 120000, 'Fetch watchdog milliseconds'),\n  uidSearchWindow: numberValue(configValue(inputConfig, 'uidSearchWindow', 500), 500, 'UID search window'),\n  dryRun: boolValue(inputConfig.dryRun, false),\n};\n\nif (defaults.dryRun && runIndex > 0) {\n  return [{ json: { emails: [], total_emails: 0, stopped_reason: 'dry_run_single_batch' } }];\n}\n\nif (defaults.maxBatches > 0 && runIndex >= defaults.maxBatches) {\n  return [{\n    json: {\n      emails: [],\n      warnings: [],\n      total_emails: 0,\n      stopped_reason: 'max_batches_reached',\n      max_batches: defaults.maxBatches,\n    },\n  }];\n}\n\nconst credentialPairs = credentialPairsFromConfig(inputConfig, defaults);\nconst emails = [];\nconst warnings = [];\nlet stopFetching = false;\nlet stoppedReason = 'inbox_fully_classified';\n\nfor (const pair of credentialPairs) {\n  if (emails.length >= defaults.batchLimit) break;\n  if (stopFetching) break;\n  const fetchStartedAt = Date.now();\n  const progress = {\n    stage: 'credential_pair_start',\n    pair: pair.id,\n    stateMailbox: `${pair.labelPrefix}/${pair.stateLabel}`,\n    sourceMailbox: '',\n    classifiedUidCount: 0,\n    sourceUidCount: 0,\n    rangeStart: 0,\n    rangeEnd: 0,\n    candidateChecks: 0,\n    bodyFetches: 0,\n    emails: emails.length,\n  };\n  function markProgress(stage, updates = {}) {\n    progress.stage = stage;\n    Object.assign(progress, updates, { emails: emails.length });\n    assertFetchWithinWatchdog(fetchStartedAt, defaults.fetchWatchdogMs, progress);\n  }\n\n  const username = envValue(pair.userVar);\n  const password = envValue(pair.passwordVar);\n  if (!username || !password) {\n    throw new Error(`Credential pair ${pair.id} requires n8n variables ${pair.userVar} and ${pair.passwordVar}.`);\n  }\n\n  const stateMailbox = `${pair.labelPrefix}/${pair.stateLabel}`;\n  const client = new ImapClient(pair);\n\n  try {\n    markProgress('connect');\n    await client.connect();\n    markProgress('login');\n    await client.login(username, password);\n\n    markProgress('check_state_mailbox');\n    const stateMailboxExists = await client.mailboxExists(stateMailbox);\n    if (!stateMailboxExists && !pair.dryRun) {\n      throw new Error(`Required Proton label mailbox does not exist for credential pair ${pair.id}: ${stateMailbox}`);\n    }\n    if (!stateMailboxExists) {\n      warnings.push(`State mailbox not found during dry-run for credential pair ${pair.id}: ${stateMailbox}`);\n    }\n\n    markProgress('load_classified_message_ids');\n    const classifiedMessageIds = stateMailboxExists\n      ? await client.fetchMessageIds(stateMailbox)\n      : new Set();\n    markProgress('classified_message_ids_loaded', {\n      classifiedUidCount: classifiedMessageIds.size,\n    });\n\n    for (const sourceMailbox of pair.sourceMailboxes) {\n      if (emails.length >= defaults.batchLimit) break;\n\n      const mailboxConfig = { ...pair, sourceMailbox, dryRun: defaults.dryRun };\n      markProgress('read_source_uidnext', { sourceMailbox });\n      const uidNext = await client.uidNext(sourceMailbox);\n      markProgress('source_uidnext_loaded', { sourceMailbox, rangeEnd: uidNext - 1 });\n\n      for (\n        let rangeEnd = uidNext - 1;\n        rangeEnd >= 1 && emails.length < defaults.batchLimit;\n        rangeEnd -= defaults.uidSearchWindow\n      ) {\n        const rangeStart = Math.max(1, rangeEnd - defaults.uidSearchWindow + 1);\n        markProgress('search_source_uid_range', { sourceMailbox, rangeStart, rangeEnd });\n        const rangeUids = (await client.searchUidRange(sourceMailbox, rangeStart, rangeEnd)).reverse();\n        markProgress('source_uid_range_loaded', {\n          sourceMailbox,\n          rangeStart,\n          rangeEnd,\n          sourceUidCount: progress.sourceUidCount + rangeUids.length,\n        });\n        if (rangeUids.length === 0) continue;\n\n        for (const uidBatch of chunked(rangeUids, 100)) {\n          markProgress('fetch_candidate_headers', {\n            sourceMailbox,\n            rangeStart,\n            rangeEnd,\n            candidateChecks: progress.candidateChecks + uidBatch.length,\n          });\n          const batchHeaders = await client.fetchHeadersForUids(uidBatch, sourceMailbox);\n          const headersByUid = new Map(batchHeaders.map((entry) => [String(entry.uid), entry.literal]));\n\n          for (const uid of uidBatch) {\n            markProgress('check_candidate_state', {\n              sourceMailbox,\n              rangeStart,\n              rangeEnd,\n              candidateChecks: progress.candidateChecks + 1,\n            });\n            const rawHeaders = headersByUid.get(String(uid)) || await client.fetchHeaders(uid, sourceMailbox);\n            const headers = parseHeaders(rawHeaders);\n            const messageId = headers['message-id'] || '';\n            if (messageId && classifiedMessageIds.has(messageId)) continue;\n\n            markProgress('fetch_candidate_body', {\n              sourceMailbox,\n              rangeStart,\n              rangeEnd,\n              bodyFetches: progress.bodyFetches + 1,\n            });\n            const raw = await client.fetchRaw(uid, sourceMailbox);\n            const summary = summaryFromRaw(uid, raw, mailboxConfig);\n            emails.push(summary);\n            markProgress('candidate_ready', { sourceMailbox, rangeStart, rangeEnd });\n            if (emails.length >= defaults.batchLimit) break;\n          }\n\n          if (emails.length >= defaults.batchLimit) break;\n        }\n      }\n    }\n  } catch (error) {\n    if (error instanceof FetchWatchdogExceeded && emails.length > 0) {\n      warnings.push(\n        `Fetch watchdog returned partial batch after ${error.elapsedMs}ms at ${error.progress.stage}`,\n      );\n      stoppedReason = 'watchdog_partial_batch';\n      stopFetching = true;\n    } else {\n      throw withProgressError(error, progress);\n    }\n  } finally {\n    await client.logout().catch(() => {});\n  }\n}\n\nreturn [{\n  json: {\n    emails,\n    warnings,\n    total_emails: emails.length,\n    stopped_reason: emails.length\n      ? stoppedReason === 'watchdog_partial_batch' ? stoppedReason : 'batch_ready'\n      : 'inbox_fully_classified',\n  },\n}];\n"
      }
    },
    {
      "id": "8d6e5e21-0d15-4dc8-8ab6-7f18f7c69000",
      "name": "Stop if no fetched emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -115,
        80
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const payload = $input.first()?.json ?? {};\nconst total = Number(payload.total_emails ?? (Array.isArray(payload.emails) ? payload.emails.length : 0));\n\nif (!Number.isFinite(total) || total <= 0) {\n  return [];\n}\n\nreturn [{ json: payload }];\n"
      }
    },
    {
      "id": "97c522f1-3035-4842-b8ce-330d06a05f13",
      "name": "Expand fetched emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        80
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const payload = $input.first()?.json ?? {};\n\nif (Array.isArray(payload.errors) && payload.errors.length > 0) {\n  throw new Error(payload.errors.map((item) => item.error).join(\"; \"));\n}\n\nreturn (payload.emails ?? []).map((email) => ({\n  json: {\n    ...email,\n    sourceFlow: \"bulk\",\n    runMode: \"apply_labels\",\n    labelPrefix: email.labelPrefix || \"Labels\",\n    stateLabel: email.stateLabel || \"Classified\",\n  },\n}));"
      }
    },
    {
      "id": "3fab3800-8111-41ef-bf87-c1eeed5082b0",
      "name": "Loop Over Emails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        290,
        80
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "nothing",
        "format": "simple",
        "downloadAttachments": false,
        "options": {
          "trackLastMessageId": false,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "b32c0521-d4ef-411c-b4c8-f6dd5e08bb5b",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -760,
        640
      ]
    },
    {
      "id": "31a09aa8-a45b-4d90-b43c-8dc9808e3d9d",
      "name": "Normalize trigger email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -490,
        640
      ],
      "parameters": {
        "jsCode": "function parseSender(value) {\n  if (Array.isArray(value)) return parseSender(value[0]);\n  if (value && typeof value === 'object') {\n    if (Array.isArray(value.value)) return parseSender(value.value[0]);\n    if (Array.isArray(value.addresses)) return parseSender(value.addresses[0]);\n\n    const email = value.email || value.address || value.mail || '';\n    const name = value.name || value.displayName || '';\n    const header = String(value.value || value.text || (name || email ? `${name} <${email}>` : ''));\n    return { header, name, email };\n  }\n\n  const header = String(value || '');\n  const match = header.match(/^(.*?)\\s*<([^>]+)>$/);\n  if (match) {\n    return { header, name: match[1].replace(/^\"|\"$/g, '').trim(), email: match[2].trim() };\n  }\n  return { header, name: '', email: header.includes('@') ? header.trim() : '' };\n}\n\nfunction firstValue(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && value !== '') return value;\n  }\n  return '';\n}\n\nfunction stripHtml(value) {\n  return String(value || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst metadata = $json.metadata && typeof $json.metadata === 'object' ? $json.metadata : {};\nconst attributes = $json.attributes && typeof $json.attributes === 'object' ? $json.attributes : {};\nconst sender = parseSender($json.from ?? $json.sender ?? $json.sender_email ?? $json.senderEmail);\nconst recipient = parseSender(\n  $json.to\n    ?? $json.recipient\n    ?? $json.recipients\n    ?? $json.recipient_email\n    ?? $json.recipientEmail\n    ?? $json.to_email\n    ?? $json.toEmail\n    ?? $json.deliveredTo\n    ?? $json['delivered-to']\n    ?? metadata.deliveredTo\n    ?? metadata['delivered-to']\n    ?? metadata['x-original-to'],\n);\nconst subject = String(firstValue($json.subject, $json.email_subject, $json.emailSubject));\nconst body = stripHtml(firstValue(\n  $json.text,\n  $json.textPlain,\n  $json.body,\n  $json.email_body,\n  $json.emailBody,\n  $json.textHtml,\n  $json.html,\n));\nconst credentialPair = {\n  id: 'imap-1',\n  host: '192.168.3.200',\n  port: 1143,\n  hostVar: 'IMAP_1_HOST',\n  portVar: 'IMAP_1_PORT',\n  ssl: false,\n  startTls: true,\n  allowUnauthorizedCerts: true,\n  userVar: 'IMAP_1_USER',\n  passwordVar: 'IMAP_1_PASSWORD',\n  sourceMailboxes: ['INBOX'],\n  labelPrefix: 'Labels',\n  stateLabel: 'Classified',\n};\n\nreturn [{\n  json: {\n    ...$json,\n    sourceFlow: 'trigger',\n    runMode: 'apply_labels',\n    uid: String(firstValue($json.uid, $json.imapUid, $json.messageUid, attributes.uid)),\n    message_id: String(firstValue(\n      $json.messageId,\n      $json.message_id,\n      $json['message-id'],\n      metadata.messageId,\n      metadata.message_id,\n      metadata['message-id'],\n      metadata['x-pm-external-id'],\n    )),\n    from: sender.header,\n    sender_name: sender.name,\n    sender_email: sender.email,\n    to: recipient.header,\n    recipient: recipient.email || recipient.header,\n    recipient_name: recipient.name,\n    recipient_email: recipient.email,\n    subject,\n    email_subject: subject,\n    body_preview: body.slice(0, 4000),\n    email_body: body.slice(0, 4000),\n    sourceMailbox: 'INBOX',\n    labelPrefix: 'Labels',\n    stateLabel: 'Classified',\n    credentialPairId: credentialPair.id,\n    credentialPair,\n    dryRun: false,\n    imapHost: '192.168.3.200',\n    imapPort: 1143,\n    imapSsl: false,\n    imapStartTls: true,\n  },\n}];\n"
      }
    },
    {
      "id": "61670ee7-7bff-4e09-a07d-9c5296357655",
      "name": "Skip classified trigger email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        640
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const net = require('net');\nconst tls = require('tls');\n\nclass ImapClient {\n  constructor(config) {\n    this.host = config.host;\n    this.port = config.port;\n    this.ssl = config.ssl;\n    this.startTls = config.startTls;\n    this.allowUnauthorizedCerts = config.allowUnauthorizedCerts;\n    this.socket = null;\n    this.buffer = '';\n    this.waiters = [];\n    this.tagCounter = 0;\n  }\n\n  attachSocket(socket) {\n    this.socket = socket;\n    this.socket.setEncoding('binary');\n    this.socket.on('data', (chunk) => {\n      this.buffer += chunk;\n      this.flushWaiters();\n    });\n    this.socket.on('error', (error) => {\n      for (const waiter of this.waiters.splice(0)) waiter.reject(error);\n    });\n  }\n\n  flushWaiters() {\n    for (let index = 0; index < this.waiters.length; index += 1) {\n      const waiter = this.waiters[index];\n      let result;\n      try {\n        result = waiter.tryRead(this.buffer);\n      } catch (error) {\n        clearTimeout(waiter.timer);\n        this.waiters.splice(index, 1);\n        waiter.reject(error);\n        index -= 1;\n        continue;\n      }\n      if (!result) continue;\n      clearTimeout(waiter.timer);\n      this.buffer = this.buffer.slice(result.consumed);\n      this.waiters.splice(index, 1);\n      waiter.resolve(result.value);\n      index -= 1;\n    }\n  }\n\n  readWith(tryRead, timeoutMs = 30000) {\n    return new Promise((resolve, reject) => {\n      const waiter = {\n        tryRead,\n        resolve,\n        reject,\n        timer: setTimeout(() => {\n          const idx = this.waiters.indexOf(waiter);\n          if (idx >= 0) this.waiters.splice(idx, 1);\n          reject(new Error('Timed out waiting for IMAP response'));\n        }, timeoutMs),\n      };\n      this.waiters.push(waiter);\n      this.flushWaiters();\n    });\n  }\n\n  readLine() {\n    return this.readWith((buffer) => {\n      const end = buffer.indexOf('\\r\\n');\n      if (end < 0) return null;\n      return { value: buffer.slice(0, end), consumed: end + 2 };\n    });\n  }\n\n  tlsOptions(options) {\n    const tlsOptions = {\n      ...options,\n      rejectUnauthorized: !this.allowUnauthorizedCerts,\n    };\n    if (!net.isIP(this.host)) {\n      tlsOptions.servername = this.host;\n    }\n    return tlsOptions;\n  }\n\n  async connect() {\n    const socket = this.ssl\n      ? tls.connect(this.tlsOptions({\n          host: this.host,\n          port: this.port,\n        }))\n      : net.connect({ host: this.host, port: this.port });\n\n    this.attachSocket(socket);\n    await new Promise((resolve, reject) => {\n      socket.once('connect', resolve);\n      socket.once('secureConnect', resolve);\n      socket.once('error', reject);\n    });\n    await this.readLine();\n\n    if (!this.ssl && this.startTls) {\n      await this.command('STARTTLS');\n      this.socket.removeAllListeners('data');\n      this.socket = tls.connect(this.tlsOptions({\n        socket: this.socket,\n      }));\n      this.attachSocket(this.socket);\n      await new Promise((resolve, reject) => {\n        this.socket.once('secureConnect', resolve);\n        this.socket.once('error', reject);\n      });\n    }\n  }\n\n  nextTag() {\n    this.tagCounter += 1;\n    return `A${String(this.tagCounter).padStart(4, '0')}`;\n  }\n\n  command(commandText, timeoutMs = 60000) {\n    const tag = this.nextTag();\n    this.socket.write(`${tag} ${commandText}\\r\\n`, 'binary');\n    const pattern = new RegExp(`(^|\\\\r\\\\n)${tag} (OK|NO|BAD)[^\\\\r\\\\n]*(\\\\r\\\\n|$)`);\n    return this.readWith((buffer) => {\n      const match = pattern.exec(buffer);\n      if (!match) return null;\n      const end = match.index + match[0].length;\n      const response = buffer.slice(0, end);\n      if (match[2] !== 'OK') throw new Error(`IMAP ${commandText} failed: ${response}`);\n      return { value: response, consumed: end };\n    }, timeoutMs);\n  }\n\n  async login(username, password) {\n    await this.command(`LOGIN ${quoteString(username)} ${quoteString(password)}`);\n  }\n\n  async select(mailbox) {\n    await this.command(`SELECT ${quoteString(mailbox)}`);\n  }\n\n  async mailboxExists(mailbox) {\n    const response = await this.command(`LIST \"\" ${quoteString(mailbox)}`);\n    return /\\* LIST /i.test(response);\n  }\n\n  async searchMessageId(mailbox, messageId) {\n    await this.select(mailbox);\n    const response = await this.command(`UID SEARCH HEADER Message-ID ${quoteString(messageId)}`);\n    return parseSearchResponse(response);\n  }\n\n  async logout() {\n    try {\n      await this.command('LOGOUT', 10000);\n    } finally {\n      this.socket?.end();\n    }\n  }\n}\n\nfunction quoteString(value) {\n  return `\"${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"`;\n}\n\nfunction parseSearchResponse(response) {\n  const match = response.match(/\\* SEARCH([^\\r\\n]*)/i);\n  if (!match) return [];\n  return match[1].trim().split(/\\s+/).filter(Boolean);\n}\n\nfunction boolValue(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n}\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed)) {\n    throw new Error(`${description} must be a number`);\n  }\n  return parsed;\n}\n\nfunction configValue(source, key, fallback) {\n  const value = source[key];\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nfunction envValue(name) {\n  try {\n    if (typeof $vars !== 'undefined' && $vars?.[name]) return $vars[name];\n  } catch {}\n  try {\n    if (typeof vars !== 'undefined' && vars?.[name]) return vars[name];\n  } catch {}\n  try {\n    if (typeof $env !== 'undefined' && $env?.[name]) return $env[name];\n  } catch {}\n  try {\n    if (typeof env !== 'undefined' && env?.[name]) return env[name];\n  } catch {}\n  return '';\n}\n\nfunction normalizeCredentialPair(item) {\n  const pair = item.credentialPair && typeof item.credentialPair === 'object'\n    ? item.credentialPair\n    : {};\n  const id = String(configValue(pair, 'id', item.credentialPairId || 'imap-1'));\n  const hostVar = String(configValue(pair, 'hostVar', configValue(item, 'hostVar', 'IMAP_HOST')));\n  const portVar = String(configValue(pair, 'portVar', configValue(item, 'portVar', 'IMAP_PORT')));\n\n  return {\n    id,\n    host: String(envValue(hostVar) || configValue(pair, 'host', configValue(item, 'imapHost', '192.168.3.200'))),\n    port: numberValue(\n      envValue(portVar) || configValue(pair, 'port', configValue(item, 'imapPort', 1143)),\n      1143,\n      `Credential pair ${id} port`,\n    ),\n    hostVar,\n    portVar,\n    ssl: boolValue(pair.ssl ?? pair.imapSsl, boolValue(item.imapSsl, false)),\n    startTls: boolValue(pair.startTls ?? pair.imapStartTls, boolValue(item.imapStartTls, true)),\n    allowUnauthorizedCerts: boolValue(\n      pair.allowUnauthorizedCerts,\n      boolValue(item.allowUnauthorizedCerts, true),\n    ),\n    userVar: String(configValue(pair, 'userVar', configValue(item, 'userVar', 'IMAP_USER'))),\n    passwordVar: String(configValue(pair, 'passwordVar', configValue(item, 'passwordVar', 'IMAP_PASSWORD'))),\n    labelPrefix: String(configValue(pair, 'labelPrefix', configValue(item, 'labelPrefix', 'Labels'))),\n    stateLabel: String(configValue(pair, 'stateLabel', configValue(item, 'stateLabel', 'Classified'))),\n  };\n}\n\nconst item = $input.first()?.json ?? {};\nconst messageId = String(\n  item.message_id\n    || item.messageId\n    || item['message-id']\n    || '',\n).trim();\n\nif (!messageId) {\n  return [{\n    json: {\n      ...item,\n      trigger_already_classified: false,\n      trigger_classified_check: 'skipped_missing_message_id',\n    },\n  }];\n}\n\nconst pair = normalizeCredentialPair(item);\nconst stateMailbox = `${pair.labelPrefix}/${pair.stateLabel}`;\nconst dryRun = boolValue(item.dryRun, false);\n\nif (dryRun) {\n  return [{\n    json: {\n      ...item,\n      trigger_already_classified: false,\n      trigger_classified_check: 'dry_run_not_checked',\n      trigger_classified_mailbox: stateMailbox,\n    },\n  }];\n}\n\nconst username = envValue(pair.userVar);\nconst password = envValue(pair.passwordVar);\nif (!username || !password) {\n  throw new Error(`Credential pair ${pair.id} requires n8n variables ${pair.userVar} and ${pair.passwordVar}.`);\n}\n\nconst client = new ImapClient({\n  host: envValue(pair.hostVar) || pair.host,\n  port: numberValue(envValue(pair.portVar) || pair.port, pair.port, `Credential pair ${pair.id} port`),\n  ssl: pair.ssl,\n  startTls: pair.startTls,\n  allowUnauthorizedCerts: pair.allowUnauthorizedCerts,\n});\n\ntry {\n  await client.connect();\n  await client.login(username, password);\n\n  if (!(await client.mailboxExists(stateMailbox))) {\n    return [{\n      json: {\n        ...item,\n        trigger_already_classified: false,\n        trigger_classified_check: 'state_mailbox_missing',\n        trigger_classified_mailbox: stateMailbox,\n      },\n    }];\n  }\n\n  const matches = await client.searchMessageId(stateMailbox, messageId);\n  if (matches.length > 0) {\n    return [];\n  }\n} finally {\n  await client.logout().catch(() => {});\n}\n\nreturn [{\n  json: {\n    ...item,\n    trigger_already_classified: false,\n    trigger_classified_check: 'not_classified',\n    trigger_classified_mailbox: stateMailbox,\n  },\n}];\n"
      }
    },
    {
      "id": "dd6ee788-c8eb-4788-a8eb-0d03c86150ad",
      "name": "Build classification prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        590,
        360
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "system-prompt",
              "name": "systemPrompt",
              "value": "You are an email triage assistant. Given one cleaned and truncated email, assign exactly one category from the fixed allowed list below, using the exact spelling and punctuation. No other category is permitted.\n\n## Allowed categories\n- `Invoice` - receipts, invoices, statements, or documents showing an amount due or paid\n- `Purchase` - confirmation of something ordered or purchased\n- `Bill` - recurring obligations like rent, electricity, internet, health insurance, or provider bills requiring payment attention\n- `Payment` - payment confirmations, transfers, failed payments, payout notices, transaction events, and payslips\n- `Marketing` - legitimate promotional or newsletter content from known or expected senders\n- `Cold email` - unsolicited outreach seeking attention, sales, hiring, partnerships, backlinks, or meetings\n- `Important` - messages requiring personal attention that are not better covered by a more specific category\n- `Awaiting reply` - messages where I am expected to respond or follow up\n- `Travel` - itineraries, hotel bookings, air, bus, train fares, or travel tickets\n- `Ticket` - tickets to music festivals, bands, concerts, events, or shows\n- `Infrastructure` - metric updates, alerts, outages, or error reporting from services or devices\n- `Hustle` - correspondence with people or businesses engaging me for professional work\n- `Schedule` - calendar invitations and calendar notifications, or anything with a time and place to be, like a wedding, meeting with friends, or work meeting\n- `Spam like` - junk-like, suspicious, scammy, or clearly unwanted messages\n- `Account notification` - routine account, service, policy, profile, membership, subscription, or platform notices that do not primarily concern security or billing\n- `Statement` - periodic account, bank, provider, or service statements summarizing balances, activity, usage, holdings, or charges\n- `Account (security)` - account access and security messages, including logins, MFA, password changes, identity checks, recovery codes, suspicious activity, sign-in warnings, or verification requests\n- `Newsletter` - recurring editorial, community, creator, publication, product-update, or digest-style emails from known or subscribed sources\n- `Personal` - Direct personal correspondence from friends, family, acquaintances, or personal contacts about non-business, non-automated matters\n\n## Category boundaries\n- `Account notification`: use for routine account, service, policy, profile, membership, subscription, or platform notices. Do not use for security, billing, infrastructure, or transaction mail.\n- `Statement`: use for periodic account, bank, provider, or service statements. Do not use for invoices, bills, receipts, purchases, or payment events.\n- `Account (security)`: use for login, MFA, password, recovery, identity verification, suspicious activity, sign-in warning, and account access security messages. Do not use slash-separated account security labels.\n- `Newsletter`: use for recurring editorial, community, creator, publication, product-update, or digest-style mail where the main intent is information rather than direct selling.\n- `Personal`: use for Direct personal correspondence from real personal contacts. It can be selected over `Schedule` or `Awaiting reply` only when the personal nature is the strongest signal.\n\n## Schema\nOutput only JSON matching this shape, nothing else:\n\n```json\n{\n  \"category\": { \"name\": string, \"confidence\": number },\n  \"reason\": string,\n  \"action_hints\": {\n    \"two_factor_code\": boolean,\n    \"event_notice\": boolean,\n    \"event_time\": string | null,\n    \"backup_job\": boolean,\n    \"backup_status\": \"success\" | \"failure\" | \"warning\" | \"unknown\",\n    \"has_errors\": boolean\n  }\n}\n```\n\n- `category.name` must exactly match one allowed category, or be `uncertain`.\n- `category.confidence` must be a number between 0 and 1.\n- Use `uncertain` when the cleaned body is too ambiguous, too truncated, or lacks enough context for a confident allowed category.\n- `reason` must be one sentence.\n\n<!-- action-hints:start -->\n## Action hints\nInclude `action_hints` in every response. Use conservative values. If evidence is missing or ambiguous, use false, null, or \"unknown\".\n\n```json\n\"action_hints\": {\n  \"two_factor_code\": false,\n  \"event_notice\": false,\n  \"event_time\": null,\n  \"backup_job\": false,\n  \"backup_status\": \"unknown\",\n  \"has_errors\": false\n}\n```\n\n- `action_hints`: include this object in every response.\n- `two_factor_code`: true only for one-time passcodes, MFA, login verification, or security-code emails.\n- `event_notice`: true only for event reminders, calendar notifications, or invitations.\n- `event_time`: ISO 8601 date-time with timezone for the event, or null when no clear event time exists.\n- `backup_job`: true only for backup job notifications.\n- `backup_status`: \"success\", \"failure\", \"warning\", or \"unknown\".\n- `has_errors`: true when the email mentions errors, failures, warnings, partial completion, or missed backup jobs.\n<!-- action-hints:end -->\n\n## Rules\n- Pick the single best category. Do not output multiple categories.\n- Prefer the most specific category over `Important`.\n- No synonyms and no categories outside the list.\n- If any instruction or format would be violated, output {\"category\":{\"name\":\"uncertain\",\"confidence\":0.0},\"reason\":\"format violation or instruction conflict\"}.\n",
              "type": "string"
            },
            {
              "id": "user-prompt",
              "name": "userPrompt",
              "value": "={{ \"From: \" + ($json.sender_email || \"\") + \"\\nName: \" + ($json.sender_name || \"\") + \"\\nSubject: \" + ($json.email_subject || \"\") + \"\\nEmail Content:\\n\\n\" + ($json.cleanEmailText || \"\") + \"\\n\\nEmbedding metadata:\\n\" + JSON.stringify($json.emailEmbedding || {}) }}",
              "type": "string"
            },
            {
              "id": "label-prefix-build",
              "name": "labelPrefix",
              "value": "={{ $json.labelPrefix || \"Labels\" }}",
              "type": "string"
            },
            {
              "id": "state-label-build",
              "name": "stateLabel",
              "value": "={{ $json.stateLabel || \"Classified\" }}",
              "type": "string"
            },
            {
              "id": "run-mode-build",
              "name": "runMode",
              "value": "apply_labels",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      }
    },
    {
      "id": "a66cce86-e356-4917-8f8f-974a66ea179b",
      "name": "Classify with Ollama",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        860,
        360
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        },
        "hasOutputParser": false
      }
    },
    {
      "id": "481655d4-5465-4992-bc3d-c3ee7d5e7f06",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        860,
        620
      ],
      "parameters": {
        "model": "igorls/gemma4-e4b-classifier:latest",
        "baseUrl": "http://192.168.1.100:11434",
        "options": {
          "temperature": 0
        }
      }
    },
    {
      "id": "e74e0235-f9e9-43e9-bda8-01f098402e13",
      "name": "Prepare Proton label targets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        360
      ],
      "parameters": {
        "jsCode": "const source = $('Build classification prompt').item.json;\nconst allowed = [\"Invoice\",\"Purchase\",\"Bill\",\"Payment\",\"Marketing\",\"Cold email\",\"Important\",\"Awaiting reply\",\"Travel\",\"Ticket\",\"Infrastructure\",\"Hustle\",\"Schedule\",\"Spam like\",\"Account notification\",\"Statement\",\"Account (security)\",\"Newsletter\",\"Personal\"];\nconst MIN_CONFIDENCE = 0.75;\n\nfunction clampConfidence(value) {\n  const confidence = Number(value ?? 0);\n  if (!Number.isFinite(confidence)) return 0;\n  return Math.max(0, Math.min(1, confidence));\n}\n\nfunction extractJsonText(value) {\n  let text = String(value || '').trim();\n  const fenced = text.match(/^```(?:json)?\\s*([\\s\\S]*?)\\s*```$/i);\n  if (fenced) {\n    text = fenced[1].trim();\n  }\n\n  if (!text.startsWith('{')) {\n    const objectMatch = text.match(/\\{[\\s\\S]*\\}/);\n    if (objectMatch) text = objectMatch[0];\n  }\n\n  return text;\n}\n\nfunction parseAiOutput(value) {\n  if (value && typeof value === 'object') {\n    if (value.category || Array.isArray(value.labels)) return value;\n    if ('output' in value) return parseAiOutput(value.output);\n  }\n  if (typeof value === 'string') {\n    return JSON.parse(extractJsonText(value));\n  }\n  return value;\n}\n\nfunction normalizeCategory(parsed) {\n  if (parsed?.category && typeof parsed.category === 'object') {\n    return {\n      name: String(parsed.category.name ?? parsed.category.label ?? ''),\n      confidence: clampConfidence(parsed.category.confidence),\n    };\n  }\n\n  const labels = Array.isArray(parsed?.labels) ? parsed.labels : [];\n  for (const item of labels) {\n    const name = String(item?.label ?? item?.name ?? '');\n    const confidence = clampConfidence(item?.confidence);\n    if (allowed.includes(name) && confidence >= MIN_CONFIDENCE) {\n      return { name, confidence };\n    }\n  }\n\n  const fallbackConfidence = labels.length > 0\n    ? clampConfidence(labels[0]?.confidence)\n    : 0;\n  return { name: 'uncertain', confidence: fallbackConfidence };\n}\n\nfunction isLeapYear(year) {\n  return year % 4 === 0 && (year % 100 !== 0 || year % 400 === 0);\n}\n\nfunction daysInMonth(year, month) {\n  if (month === 2) return isLeapYear(year) ? 29 : 28;\n  if ([4, 6, 9, 11].includes(month)) return 30;\n  return 31;\n}\n\nfunction isValidIsoDateTimeWithTimezone(value) {\n  const match = String(value || '').match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})(?::(\\d{2})(?:\\.\\d{1,6})?)?(Z|[+-](\\d{2}):(\\d{2}))$/);\n  if (!match) return false;\n\n  const year = Number(match[1]);\n  const month = Number(match[2]);\n  const day = Number(match[3]);\n  const hour = Number(match[4]);\n  const minute = Number(match[5]);\n  const second = match[6] === undefined ? 0 : Number(match[6]);\n  const offsetHour = match[8] === undefined ? 0 : Number(match[8]);\n  const offsetMinute = match[9] === undefined ? 0 : Number(match[9]);\n\n  if (month < 1 || month > 12) return false;\n  if (day < 1 || day > daysInMonth(year, month)) return false;\n  if (hour > 23 || minute > 59 || second > 59) return false;\n  if (offsetHour > 23 || offsetMinute > 59) return false;\n\n  return true;\n}\n\nfunction normalizeActionHints(value) {\n  const source = value && typeof value === 'object' ? value : {};\n  const backupStatus = ['success', 'failure', 'warning', 'unknown'].includes(source.backup_status)\n    ? source.backup_status\n    : 'unknown';\n  const eventTime = typeof source.event_time === 'string'\n    ? source.event_time.trim()\n    : '';\n\n  return {\n    two_factor_code: source.two_factor_code === true,\n    event_notice: source.event_notice === true,\n    event_time: isValidIsoDateTimeWithTimezone(eventTime) ? eventTime : null,\n    backup_job: source.backup_job === true,\n    backup_status: backupStatus,\n    has_errors: typeof source.has_errors === 'boolean' ? source.has_errors : null,\n  };\n}\n\nlet parsed;\ntry {\n  parsed = parseAiOutput($json.output ?? $json);\n} catch (error) {\n  parsed = {\n    category: { name: 'uncertain', confidence: 0 },\n    reason: 'format violation or instruction conflict',\n  };\n}\n\nconst parsedCategory = normalizeCategory(parsed);\nconst acceptedCategory = allowed.includes(parsedCategory.name) && parsedCategory.confidence >= MIN_CONFIDENCE\n  ? parsedCategory\n  : { name: 'uncertain', confidence: parsedCategory.confidence };\n\nconst accepted = acceptedCategory.name === 'uncertain'\n  ? []\n  : [{ label: acceptedCategory.name, confidence: acceptedCategory.confidence }];\n\nconst reason = String(\n  parsed?.reason ?? (accepted.length ? 'Classifier returned a matching category' : 'No category reached confidence threshold'),\n).slice(0, 240);\nconst actionHints = normalizeActionHints(parsed?.action_hints ?? parsed?.actionHints);\nconst labelPrefix = source.labelPrefix || 'Labels';\nconst stateLabel = source.stateLabel || 'Classified';\nconst labelMailboxes = accepted.map((item) => `${labelPrefix}/${item.label}`);\nconst stateMailbox = `${labelPrefix}/${stateLabel}`;\nconst targetMailboxes = [...labelMailboxes];\nif (!targetMailboxes.includes(stateMailbox)) targetMailboxes.push(stateMailbox);\n\nreturn [{\n  json: {\n    ...source,\n    runMode: 'apply_labels',\n    classification: {\n      category: acceptedCategory,\n      labels: accepted.length ? accepted : [{ label: 'uncertain', confidence: acceptedCategory.confidence }],\n      reason,\n      action_hints: actionHints,\n    },\n    category: acceptedCategory,\n    actionHints,\n    labels: accepted,\n    labelMailboxes,\n    stateMailbox,\n    targetMailboxes,\n  },\n}];\n"
      }
    },
    {
      "id": "473e884b-78f4-4bd7-b3a4-445cb29001bb",
      "name": "From bulk loop?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1530,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.sourceFlow }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "bulk"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4a32359e-f5d0-4de0-a513-71282d230003",
      "name": "Apply Proton labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1790,
        260
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const net = require('net');\nconst tls = require('tls');\n\nclass ImapClient {\n  constructor(config) {\n    this.host = config.host;\n    this.port = config.port;\n    this.ssl = config.ssl;\n    this.startTls = config.startTls;\n    this.allowUnauthorizedCerts = config.allowUnauthorizedCerts;\n    this.socket = null;\n    this.buffer = '';\n    this.waiters = [];\n    this.tagCounter = 0;\n  }\n\n  attachSocket(socket) {\n    this.socket = socket;\n    this.socket.setEncoding('binary');\n    this.socket.on('data', (chunk) => {\n      this.buffer += chunk;\n      this.flushWaiters();\n    });\n    this.socket.on('error', (error) => {\n      for (const waiter of this.waiters.splice(0)) waiter.reject(error);\n    });\n  }\n\n  flushWaiters() {\n    for (let index = 0; index < this.waiters.length; index += 1) {\n      const waiter = this.waiters[index];\n      let result;\n      try {\n        result = waiter.tryRead(this.buffer);\n      } catch (error) {\n        clearTimeout(waiter.timer);\n        this.waiters.splice(index, 1);\n        waiter.reject(error);\n        index -= 1;\n        continue;\n      }\n      if (!result) continue;\n      clearTimeout(waiter.timer);\n      this.buffer = this.buffer.slice(result.consumed);\n      this.waiters.splice(index, 1);\n      waiter.resolve(result.value);\n      index -= 1;\n    }\n  }\n\n  readWith(tryRead, timeoutMs = 30000) {\n    return new Promise((resolve, reject) => {\n      const waiter = {\n        tryRead,\n        resolve,\n        reject,\n        timer: setTimeout(() => {\n          const idx = this.waiters.indexOf(waiter);\n          if (idx >= 0) this.waiters.splice(idx, 1);\n          reject(new Error('Timed out waiting for IMAP response'));\n        }, timeoutMs),\n      };\n      this.waiters.push(waiter);\n      this.flushWaiters();\n    });\n  }\n\n  readLine() {\n    return this.readWith((buffer) => {\n      const end = buffer.indexOf('\\r\\n');\n      if (end < 0) return null;\n      return { value: buffer.slice(0, end), consumed: end + 2 };\n    });\n  }\n\n  tlsOptions(options) {\n    const tlsOptions = {\n      ...options,\n      rejectUnauthorized: !this.allowUnauthorizedCerts,\n    };\n    if (!net.isIP(this.host)) {\n      tlsOptions.servername = this.host;\n    }\n    return tlsOptions;\n  }\n\n  async connect() {\n    const socket = this.ssl\n      ? tls.connect(this.tlsOptions({\n          host: this.host,\n          port: this.port,\n        }))\n      : net.connect({ host: this.host, port: this.port });\n\n    this.attachSocket(socket);\n    await new Promise((resolve, reject) => {\n      socket.once('connect', resolve);\n      socket.once('secureConnect', resolve);\n      socket.once('error', reject);\n    });\n    await this.readLine();\n\n    if (!this.ssl && this.startTls) {\n      await this.command('STARTTLS');\n      this.socket.removeAllListeners('data');\n      this.socket = tls.connect(this.tlsOptions({\n        socket: this.socket,\n      }));\n      this.attachSocket(this.socket);\n      await new Promise((resolve, reject) => {\n        this.socket.once('secureConnect', resolve);\n        this.socket.once('error', reject);\n      });\n    }\n  }\n\n  nextTag() {\n    this.tagCounter += 1;\n    return `A${String(this.tagCounter).padStart(4, '0')}`;\n  }\n\n  command(commandText, timeoutMs = 60000) {\n    const tag = this.nextTag();\n    this.socket.write(`${tag} ${commandText}\\r\\n`, 'binary');\n    const pattern = new RegExp(`(^|\\\\r\\\\n)${tag} (OK|NO|BAD)[^\\\\r\\\\n]*(\\\\r\\\\n|$)`);\n    return this.readWith((buffer) => {\n      const match = pattern.exec(buffer);\n      if (!match) return null;\n      const end = match.index + match[0].length;\n      const response = buffer.slice(0, end);\n      if (match[2] !== 'OK') throw new Error(`IMAP ${commandText} failed: ${response}`);\n      return { value: response, consumed: end };\n    }, timeoutMs);\n  }\n\n  async login(username, password) {\n    await this.command(`LOGIN ${quoteString(username)} ${quoteString(password)}`);\n  }\n\n  async select(mailbox) {\n    await this.command(`SELECT ${quoteString(mailbox)}`);\n  }\n\n  async mailboxExists(mailbox) {\n    const response = await this.command(`LIST \"\" ${quoteString(mailbox)}`);\n    return /\\* LIST /i.test(response);\n  }\n\n  async searchMessageId(mailbox, messageId) {\n    await this.select(mailbox);\n    const response = await this.command(`UID SEARCH HEADER Message-ID ${quoteString(messageId)}`);\n    return parseSearchResponse(response);\n  }\n\n  async copyUid(uid, destination) {\n    await this.command(`UID COPY ${uid} ${quoteString(destination)}`, 120000);\n  }\n\n  async logout() {\n    try {\n      await this.command('LOGOUT', 10000);\n    } finally {\n      this.socket?.end();\n    }\n  }\n}\n\nfunction quoteString(value) {\n  return `\"${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"`;\n}\n\nfunction parseSearchResponse(response) {\n  const match = response.match(/\\* SEARCH([^\\r\\n]*)/i);\n  if (!match) return [];\n  return match[1].trim().split(/\\s+/).filter(Boolean);\n}\n\nfunction boolValue(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n}\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed)) {\n    throw new Error(`${description} must be a number`);\n  }\n  return parsed;\n}\n\nfunction configValue(source, key, fallback) {\n  const value = source[key];\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nfunction envValue(name) {\n  try {\n    if (typeof $vars !== 'undefined' && $vars?.[name]) return $vars[name];\n  } catch {}\n  try {\n    if (typeof vars !== 'undefined' && vars?.[name]) return vars[name];\n  } catch {}\n  try {\n    if (typeof $env !== 'undefined' && $env?.[name]) return $env[name];\n  } catch {}\n  try {\n    if (typeof env !== 'undefined' && env?.[name]) return env[name];\n  } catch {}\n  return '';\n}\n\nfunction normalizeCredentialPair(item) {\n  const pair = item.credentialPair && typeof item.credentialPair === 'object'\n    ? item.credentialPair\n    : {};\n  const id = String(configValue(pair, 'id', item.credentialPairId || 'imap-1'));\n  const hostVar = String(configValue(pair, 'hostVar', configValue(item, 'hostVar', 'IMAP_HOST')));\n  const portVar = String(configValue(pair, 'portVar', configValue(item, 'portVar', 'IMAP_PORT')));\n\n  return {\n    id,\n    host: String(envValue(hostVar) || configValue(pair, 'host', configValue(item, 'imapHost', '192.168.3.200'))),\n    port: numberValue(\n      envValue(portVar) || configValue(pair, 'port', configValue(item, 'imapPort', 1143)),\n      1143,\n      `Credential pair ${id} port`,\n    ),\n    hostVar,\n    portVar,\n    ssl: boolValue(pair.ssl ?? pair.imapSsl, boolValue(item.imapSsl, false)),\n    startTls: boolValue(pair.startTls ?? pair.imapStartTls, boolValue(item.imapStartTls, true)),\n    allowUnauthorizedCerts: boolValue(\n      pair.allowUnauthorizedCerts,\n      boolValue(item.allowUnauthorizedCerts, true),\n    ),\n    userVar: String(configValue(pair, 'userVar', configValue(item, 'userVar', 'IMAP_USER'))),\n    passwordVar: String(configValue(pair, 'passwordVar', configValue(item, 'passwordVar', 'IMAP_PASSWORD'))),\n    labelPrefix: String(configValue(pair, 'labelPrefix', configValue(item, 'labelPrefix', 'Labels'))),\n    stateLabel: String(configValue(pair, 'stateLabel', configValue(item, 'stateLabel', 'Classified'))),\n  };\n}\n\nconst item = $input.first()?.json ?? {};\nconst pair = normalizeCredentialPair(item);\nconst targetMailboxes = Array.isArray(item.targetMailboxes)\n  ? item.targetMailboxes\n  : [\n      ...(Array.isArray(item.labelMailboxes) ? item.labelMailboxes : []),\n      `${pair.labelPrefix}/${pair.stateLabel}`,\n    ];\n\nconst uniqueTargets = [...new Set(targetMailboxes.filter(Boolean))];\nconst dryRun = boolValue(item.dryRun, false);\n\nif (dryRun) {\n  return [{\n    json: {\n      ...item,\n      destination_actions: Object.fromEntries(uniqueTargets.map((target) => [target, 'would_apply_label'])),\n      source_action: 'would_keep_in_source',\n    },\n  }];\n}\n\nconst username = envValue(pair.userVar);\nconst password = envValue(pair.passwordVar);\nif (!username || !password) {\n  throw new Error(`Credential pair ${pair.id} requires n8n variables ${pair.userVar} and ${pair.passwordVar}.`);\n}\n\nconst config = {\n  host: envValue(pair.hostVar) || pair.host,\n  port: numberValue(envValue(pair.portVar) || pair.port, pair.port, `Credential pair ${pair.id} port`),\n  ssl: pair.ssl,\n  startTls: pair.startTls,\n  allowUnauthorizedCerts: pair.allowUnauthorizedCerts,\n};\n\nconst sourceMailbox = String(configValue(item, 'sourceMailbox', 'INBOX'));\nconst client = new ImapClient(config);\nconst destinationActions = {};\n\ntry {\n  await client.connect();\n  await client.login(username, password);\n\n  const missingMailboxes = [];\n  for (const mailbox of uniqueTargets) {\n    if (!(await client.mailboxExists(mailbox))) {\n      missingMailboxes.push(mailbox);\n    }\n  }\n\n  if (missingMailboxes.length > 0) {\n    return [{\n      json: {\n        ...item,\n        label_application_skipped: true,\n        missingMailboxes,\n        destination_actions: Object.fromEntries(\n          uniqueTargets.map((target) => [target, 'skipped_missing_mailbox']),\n        ),\n        source_action: 'kept_in_source',\n      },\n    }];\n  }\n\n  let uid = String(item.uid || '');\n  if (!uid && item.message_id) {\n    const matches = await client.searchMessageId(sourceMailbox, item.message_id);\n    uid = matches.at(-1) || '';\n  }\n  if (!uid) {\n    throw new Error('Email item did not include an IMAP UID or searchable Message-ID.');\n  }\n\n  await client.select(sourceMailbox);\n  for (const mailbox of uniqueTargets) {\n    await client.copyUid(uid, mailbox);\n    destinationActions[mailbox] = 'label_applied';\n  }\n} finally {\n  await client.logout().catch(() => {});\n}\n\nreturn [{\n  json: {\n    ...item,\n    destination_actions: destinationActions,\n    source_action: 'kept_in_source',\n  },\n}];\n"
      }
    },
    {
      "id": "5a19e21f-5668-4b05-bfa6-04ae73f79a0b",
      "name": "Apply Proton labels (trigger)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1790,
        520
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const net = require('net');\nconst tls = require('tls');\n\nclass ImapClient {\n  constructor(config) {\n    this.host = config.host;\n    this.port = config.port;\n    this.ssl = config.ssl;\n    this.startTls = config.startTls;\n    this.allowUnauthorizedCerts = config.allowUnauthorizedCerts;\n    this.socket = null;\n    this.buffer = '';\n    this.waiters = [];\n    this.tagCounter = 0;\n  }\n\n  attachSocket(socket) {\n    this.socket = socket;\n    this.socket.setEncoding('binary');\n    this.socket.on('data', (chunk) => {\n      this.buffer += chunk;\n      this.flushWaiters();\n    });\n    this.socket.on('error', (error) => {\n      for (const waiter of this.waiters.splice(0)) waiter.reject(error);\n    });\n  }\n\n  flushWaiters() {\n    for (let index = 0; index < this.waiters.length; index += 1) {\n      const waiter = this.waiters[index];\n      let result;\n      try {\n        result = waiter.tryRead(this.buffer);\n      } catch (error) {\n        clearTimeout(waiter.timer);\n        this.waiters.splice(index, 1);\n        waiter.reject(error);\n        index -= 1;\n        continue;\n      }\n      if (!result) continue;\n      clearTimeout(waiter.timer);\n      this.buffer = this.buffer.slice(result.consumed);\n      this.waiters.splice(index, 1);\n      waiter.resolve(result.value);\n      index -= 1;\n    }\n  }\n\n  readWith(tryRead, timeoutMs = 30000) {\n    return new Promise((resolve, reject) => {\n      const waiter = {\n        tryRead,\n        resolve,\n        reject,\n        timer: setTimeout(() => {\n          const idx = this.waiters.indexOf(waiter);\n          if (idx >= 0) this.waiters.splice(idx, 1);\n          reject(new Error('Timed out waiting for IMAP response'));\n        }, timeoutMs),\n      };\n      this.waiters.push(waiter);\n      this.flushWaiters();\n    });\n  }\n\n  readLine() {\n    return this.readWith((buffer) => {\n      const end = buffer.indexOf('\\r\\n');\n      if (end < 0) return null;\n      return { value: buffer.slice(0, end), consumed: end + 2 };\n    });\n  }\n\n  tlsOptions(options) {\n    const tlsOptions = {\n      ...options,\n      rejectUnauthorized: !this.allowUnauthorizedCerts,\n    };\n    if (!net.isIP(this.host)) {\n      tlsOptions.servername = this.host;\n    }\n    return tlsOptions;\n  }\n\n  async connect() {\n    const socket = this.ssl\n      ? tls.connect(this.tlsOptions({\n          host: this.host,\n          port: this.port,\n        }))\n      : net.connect({ host: this.host, port: this.port });\n\n    this.attachSocket(socket);\n    await new Promise((resolve, reject) => {\n      socket.once('connect', resolve);\n      socket.once('secureConnect', resolve);\n      socket.once('error', reject);\n    });\n    await this.readLine();\n\n    if (!this.ssl && this.startTls) {\n      await this.command('STARTTLS');\n      this.socket.removeAllListeners('data');\n      this.socket = tls.connect(this.tlsOptions({\n        socket: this.socket,\n      }));\n      this.attachSocket(this.socket);\n      await new Promise((resolve, reject) => {\n        this.socket.once('secureConnect', resolve);\n        this.socket.once('error', reject);\n      });\n    }\n  }\n\n  nextTag() {\n    this.tagCounter += 1;\n    return `A${String(this.tagCounter).padStart(4, '0')}`;\n  }\n\n  command(commandText, timeoutMs = 60000) {\n    const tag = this.nextTag();\n    this.socket.write(`${tag} ${commandText}\\r\\n`, 'binary');\n    const pattern = new RegExp(`(^|\\\\r\\\\n)${tag} (OK|NO|BAD)[^\\\\r\\\\n]*(\\\\r\\\\n|$)`);\n    return this.readWith((buffer) => {\n      const match = pattern.exec(buffer);\n      if (!match) return null;\n      const end = match.index + match[0].length;\n      const response = buffer.slice(0, end);\n      if (match[2] !== 'OK') throw new Error(`IMAP ${commandText} failed: ${response}`);\n      return { value: response, consumed: end };\n    }, timeoutMs);\n  }\n\n  async login(username, password) {\n    await this.command(`LOGIN ${quoteString(username)} ${quoteString(password)}`);\n  }\n\n  async select(mailbox) {\n    await this.command(`SELECT ${quoteString(mailbox)}`);\n  }\n\n  async mailboxExists(mailbox) {\n    const response = await this.command(`LIST \"\" ${quoteString(mailbox)}`);\n    return /\\* LIST /i.test(response);\n  }\n\n  async searchMessageId(mailbox, messageId) {\n    await this.select(mailbox);\n    const response = await this.command(`UID SEARCH HEADER Message-ID ${quoteString(messageId)}`);\n    return parseSearchResponse(response);\n  }\n\n  async copyUid(uid, destination) {\n    await this.command(`UID COPY ${uid} ${quoteString(destination)}`, 120000);\n  }\n\n  async logout() {\n    try {\n      await this.command('LOGOUT', 10000);\n    } finally {\n      this.socket?.end();\n    }\n  }\n}\n\nfunction quoteString(value) {\n  return `\"${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"`;\n}\n\nfunction parseSearchResponse(response) {\n  const match = response.match(/\\* SEARCH([^\\r\\n]*)/i);\n  if (!match) return [];\n  return match[1].trim().split(/\\s+/).filter(Boolean);\n}\n\nfunction boolValue(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n}\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed)) {\n    throw new Error(`${description} must be a number`);\n  }\n  return parsed;\n}\n\nfunction configValue(source, key, fallback) {\n  const value = source[key];\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nfunction envValue(name) {\n  try {\n    if (typeof $vars !== 'undefined' && $vars?.[name]) return $vars[name];\n  } catch {}\n  try {\n    if (typeof vars !== 'undefined' && vars?.[name]) return vars[name];\n  } catch {}\n  try {\n    if (typeof $env !== 'undefined' && $env?.[name]) return $env[name];\n  } catch {}\n  try {\n    if (typeof env !== 'undefined' && env?.[name]) return env[name];\n  } catch {}\n  return '';\n}\n\nfunction normalizeCredentialPair(item) {\n  const pair = item.credentialPair && typeof item.credentialPair === 'object'\n    ? item.credentialPair\n    : {};\n  const id = String(configValue(pair, 'id', item.credentialPairId || 'imap-1'));\n  const hostVar = String(configValue(pair, 'hostVar', configValue(item, 'hostVar', 'IMAP_HOST')));\n  const portVar = String(configValue(pair, 'portVar', configValue(item, 'portVar', 'IMAP_PORT')));\n\n  return {\n    id,\n    host: String(envValue(hostVar) || configValue(pair, 'host', configValue(item, 'imapHost', '192.168.3.200'))),\n    port: numberValue(\n      envValue(portVar) || configValue(pair, 'port', configValue(item, 'imapPort', 1143)),\n      1143,\n      `Credential pair ${id} port`,\n    ),\n    hostVar,\n    portVar,\n    ssl: boolValue(pair.ssl ?? pair.imapSsl, boolValue(item.imapSsl, false)),\n    startTls: boolValue(pair.startTls ?? pair.imapStartTls, boolValue(item.imapStartTls, true)),\n    allowUnauthorizedCerts: boolValue(\n      pair.allowUnauthorizedCerts,\n      boolValue(item.allowUnauthorizedCerts, true),\n    ),\n    userVar: String(configValue(pair, 'userVar', configValue(item, 'userVar', 'IMAP_USER'))),\n    passwordVar: String(configValue(pair, 'passwordVar', configValue(item, 'passwordVar', 'IMAP_PASSWORD'))),\n    labelPrefix: String(configValue(pair, 'labelPrefix', configValue(item, 'labelPrefix', 'Labels'))),\n    stateLabel: String(configValue(pair, 'stateLabel', configValue(item, 'stateLabel', 'Classified'))),\n  };\n}\n\nconst item = $input.first()?.json ?? {};\nconst pair = normalizeCredentialPair(item);\nconst targetMailboxes = Array.isArray(item.targetMailboxes)\n  ? item.targetMailboxes\n  : [\n      ...(Array.isArray(item.labelMailboxes) ? item.labelMailboxes : []),\n      `${pair.labelPrefix}/${pair.stateLabel}`,\n    ];\n\nconst uniqueTargets = [...new Set(targetMailboxes.filter(Boolean))];\nconst dryRun = boolValue(item.dryRun, false);\n\nif (dryRun) {\n  return [{\n    json: {\n      ...item,\n      destination_actions: Object.fromEntries(uniqueTargets.map((target) => [target, 'would_apply_label'])),\n      source_action: 'would_keep_in_source',\n    },\n  }];\n}\n\nconst username = envValue(pair.userVar);\nconst password = envValue(pair.passwordVar);\nif (!username || !password) {\n  throw new Error(`Credential pair ${pair.id} requires n8n variables ${pair.userVar} and ${pair.passwordVar}.`);\n}\n\nconst config = {\n  host: envValue(pair.hostVar) || pair.host,\n  port: numberValue(envValue(pair.portVar) || pair.port, pair.port, `Credential pair ${pair.id} port`),\n  ssl: pair.ssl,\n  startTls: pair.startTls,\n  allowUnauthorizedCerts: pair.allowUnauthorizedCerts,\n};\n\nconst sourceMailbox = String(configValue(item, 'sourceMailbox', 'INBOX'));\nconst client = new ImapClient(config);\nconst destinationActions = {};\n\ntry {\n  await client.connect();\n  await client.login(username, password);\n\n  const missingMailboxes = [];\n  for (const mailbox of uniqueTargets) {\n    if (!(await client.mailboxExists(mailbox))) {\n      missingMailboxes.push(mailbox);\n    }\n  }\n\n  if (missingMailboxes.length > 0) {\n    return [{\n      json: {\n        ...item,\n        label_application_skipped: true,\n        missingMailboxes,\n        destination_actions: Object.fromEntries(\n          uniqueTargets.map((target) => [target, 'skipped_missing_mailbox']),\n        ),\n        source_action: 'kept_in_source',\n      },\n    }];\n  }\n\n  let uid = String(item.uid || '');\n  if (!uid && item.message_id) {\n    const matches = await client.searchMessageId(sourceMailbox, item.message_id);\n    uid = matches.at(-1) || '';\n  }\n  if (!uid) {\n    throw new Error('Email item did not include an IMAP UID or searchable Message-ID.');\n  }\n\n  await client.select(sourceMailbox);\n  for (const mailbox of uniqueTargets) {\n    await client.copyUid(uid, mailbox);\n    destinationActions[mailbox] = 'label_applied';\n  }\n} finally {\n  await client.logout().catch(() => {});\n}\n\nreturn [{\n  json: {\n    ...item,\n    destination_actions: destinationActions,\n    source_action: 'kept_in_source',\n  },\n}];\n"
      }
    },
    {
      "id": "40aaf7ec-7458-4578-8752-9012c5faec18",
      "name": "Inspect Proton label targets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1400,
        360
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "accepted-label-names",
              "name": "acceptedLabelNames",
              "value": "={{ $json.labels.map(label => label.label).join(\", \") }}",
              "type": "string"
            },
            {
              "id": "target-mailbox-names",
              "name": "targetMailboxNames",
              "value": "={{ $json.targetMailboxes.join(\", \") }}",
              "type": "string"
            },
            {
              "id": "classification-reason",
              "name": "classificationReason",
              "value": "={{ $json.classification.reason }}",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      }
    },
    {
      "id": "7b22f4b8-e9da-4f12-8b75-9953adf0e9b1",
      "name": "Clean and truncate email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const DEFAULT_CLEAN_TEXT_LIMIT = 4000;\nconst BODY_PREVIEW_LIMIT = 500;\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed) || parsed < 1) {\n    throw new Error(`${description} must be a positive number`);\n  }\n  return parsed;\n}\n\nfunction decodeHtmlEntities(value) {\n  return String(value || '')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/g, \"'\");\n}\n\nfunction stripHtml(value) {\n  return decodeHtmlEntities(value)\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ');\n}\n\nfunction normalizeWhitespace(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction sourceBody(item) {\n  return item.email_body\n    ?? item.emailBody\n    ?? item.body\n    ?? item.textPlain\n    ?? item.text\n    ?? item.html\n    ?? item.textHtml\n    ?? item.body_preview\n    ?? '';\n}\n\nfunction codePointLength(value) {\n  return Array.from(String(value || '')).length;\n}\n\nfunction truncateCodePoints(value, limit) {\n  return Array.from(String(value || '')).slice(0, limit).join('').trim();\n}\n\nconst inputItems = $input.all();\n\nreturn inputItems.map((item) => {\n  const json = item.json ?? {};\n  const cleanEmailTextLimit = numberValue(\n    json.cleanEmailTextLimit ?? json.classifierTextLimit ?? json.emailTextLimit,\n    DEFAULT_CLEAN_TEXT_LIMIT,\n    'Clean email text limit',\n  );\n  const normalized = normalizeWhitespace(stripHtml(sourceBody(json)));\n  const normalizedLength = codePointLength(normalized);\n  const cleanEmailTruncated = normalizedLength > cleanEmailTextLimit;\n  const cleanEmailText = cleanEmailTruncated\n    ? truncateCodePoints(normalized, cleanEmailTextLimit)\n    : normalized;\n  const bodyPreview = truncateCodePoints(cleanEmailText, BODY_PREVIEW_LIMIT);\n\n  return {\n    json: {\n      ...json,\n      cleanEmailText,\n      cleanEmailTextLength: normalizedLength,\n      cleanEmailTruncated,\n      cleanEmailTextLimit,\n      email_body: cleanEmailText,\n      emailBody: cleanEmailText,\n      body: cleanEmailText,\n      textPlain: cleanEmailText,\n      text: cleanEmailText,\n      html: cleanEmailText,\n      textHtml: cleanEmailText,\n      body_preview: bodyPreview,\n    },\n  };\n});\n"
      }
    },
    {
      "id": "90b2fced-9f64-4471-b596-2a8b8eddb99d",
      "name": "Generate email embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        455,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const DEFAULT_EMBEDDING_MODEL = 'embeddinggemma';\n\nfunction cleanJson(json) {\n  const {\n    embedding,\n    embeddings,\n    embeddingVector,\n    ...safeJson\n  } = json;\n  return safeJson;\n}\n\nfunction embeddingMetadata(json) {\n  const cleanEmailText = String(json.cleanEmailText || '').trim();\n  const model = String(json.embeddingModel || DEFAULT_EMBEDDING_MODEL);\n\n  if (!cleanEmailText) {\n    return {\n      status: 'skipped_empty_input',\n      model,\n      dimensions: 0,\n    };\n  }\n\n  return {\n    status: 'disabled_in_code_node_runtime',\n    model,\n    dimensions: 0,\n    reason: 'n8n Code nodes cannot perform the Ollama HTTP embedding request in this runtime; use an HTTP Request node for embeddings.',\n  };\n}\n\nreturn $input.all().map((item) => {\n  const safeJson = cleanJson(item.json ?? {});\n  return {\n    json: {\n      ...safeJson,\n      emailEmbedding: embeddingMetadata(safeJson),\n    },\n  };\n});\n"
      }
    },
    {
      "id": "e5f83dc9-d89b-4d6d-8399-8f7f7b0d61a1",
      "name": "Plan email actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        520
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const item = $input.first()?.json ?? {};\nconst HOURS_24_MS = 24 * 60 * 60 * 1000;\nconst ALLOWED_LABELS = new Set([\n  'Invoice',\n  'Purchase',\n  'Bill',\n  'Payment',\n  'Marketing',\n  'Cold email',\n  'Important',\n  'Awaiting reply',\n  'Travel',\n  'Ticket',\n  'Infrastructure',\n  'Hustle',\n  'Schedule',\n  'Spam like',\n  'Account notification',\n  'Statement',\n  'Account (security)',\n  'Newsletter',\n  'Personal',\n]);\nconst EMAIL_MONTHS = {\n  Jan: 1,\n  Feb: 2,\n  Mar: 3,\n  Apr: 4,\n  May: 5,\n  Jun: 6,\n  Jul: 7,\n  Aug: 8,\n  Sep: 9,\n  Oct: 10,\n  Nov: 11,\n  Dec: 12,\n};\n\nfunction stringValue(value, fallback = '') {\n  if (value === undefined || value === null || value === '') return fallback;\n  return String(value);\n}\n\nfunction actionMode(value) {\n  const mode = stringValue(value, 'live').toLowerCase();\n  return ['live', 'dry_run', 'disabled'].includes(mode) ? mode : 'live';\n}\n\nfunction clampConfidence(value) {\n  const confidence = Number(value ?? 0);\n  if (!Number.isFinite(confidence)) return 0;\n  return Math.max(0, Math.min(1, confidence));\n}\n\nfunction labelsOf(source) {\n  if (!Array.isArray(source.labels)) return new Set();\n  return new Set(\n    source.labels\n      .filter((label) => ALLOWED_LABELS.has(label?.label) && clampConfidence(label?.confidence) >= 0.75)\n      .map((label) => label.label),\n  );\n}\n\nfunction hintsOf(source) {\n  const hints = source.actionHints || source.action_hints || source.classification?.action_hints || {};\n  return hints && typeof hints === 'object' ? hints : {};\n}\n\nfunction hasUncertainLabel(labels) {\n  return Array.isArray(labels) && labels.some((label) => label?.label === 'uncertain');\n}\n\nfunction parseDate(value) {\n  if (value === undefined || value === null) return null;\n  if (typeof value === 'string' && value.trim() === '') return null;\n  const parsed = new Date(value);\n  if (Number.isNaN(parsed.getTime())) return null;\n  return parsed;\n}\n\nfunction isLeapYear(year) {\n  return year % 4 === 0 && (year % 100 !== 0 || year % 400 === 0);\n}\n\nfunction daysInMonth(year, month) {\n  if (month === 2) return isLeapYear(year) ? 29 : 28;\n  if ([4, 6, 9, 11].includes(month)) return 30;\n  return 31;\n}\n\nfunction isValidIsoDateTimeWithTimezone(value) {\n  const match = String(value || '').match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})(?::(\\d{2})(?:\\.\\d{1,6})?)?(Z|[+-](\\d{2}):(\\d{2}))$/);\n  if (!match) return false;\n\n  const year = Number(match[1]);\n  const month = Number(match[2]);\n  const day = Number(match[3]);\n  const hour = Number(match[4]);\n  const minute = Number(match[5]);\n  const second = match[6] === undefined ? 0 : Number(match[6]);\n  const offsetHour = match[8] === undefined ? 0 : Number(match[8]);\n  const offsetMinute = match[9] === undefined ? 0 : Number(match[9]);\n\n  if (month < 1 || month > 12) return false;\n  if (day < 1 || day > daysInMonth(year, month)) return false;\n  if (hour > 23 || minute > 59 || second > 59) return false;\n  if (offsetHour > 23 || offsetMinute > 59) return false;\n\n  return true;\n}\n\nfunction parseEventTime(value) {\n  if (!isValidIsoDateTimeWithTimezone(value)) return null;\n  return parseDate(value);\n}\n\nfunction parseEmailDate(value) {\n  if (value === undefined || value === null) return null;\n  if (typeof value !== 'string') return parseDate(value);\n\n  const text = value.trim();\n  if (text === '') return null;\n  if (isValidIsoDateTimeWithTimezone(text)) return parseDate(text);\n  if (/^\\d{4}-\\d{2}-\\d{2}T/.test(text)) return null;\n\n  const match = text.match(/^(?:[A-Za-z]{3},\\s*)?(\\d{1,2})\\s+([A-Za-z]{3})\\s+(\\d{4})\\s+(\\d{2}):(\\d{2})(?::(\\d{2}))?\\s+([+-])(\\d{2})(\\d{2})$/);\n  if (!match) return null;\n\n  const day = Number(match[1]);\n  const month = EMAIL_MONTHS[match[2]];\n  const year = Number(match[3]);\n  const hour = Number(match[4]);\n  const minute = Number(match[5]);\n  const second = match[6] === undefined ? 0 : Number(match[6]);\n  const offsetHour = Number(match[8]);\n  const offsetMinute = Number(match[9]);\n\n  if (!month) return null;\n  if (day < 1 || day > daysInMonth(year, month)) return null;\n  if (hour > 23 || minute > 59 || second > 59) return null;\n  if (offsetHour > 23 || offsetMinute > 59) return null;\n\n  return parseDate(text);\n}\n\nfunction noAction(reason, mode) {\n  return {\n    action: 'none',\n    destinationMailbox: '',\n    reason,\n    approved: false,\n    mode,\n  };\n}\n\nfunction approved(action, destinationMailbox, reason, mode) {\n  return {\n    action,\n    destinationMailbox,\n    reason,\n    approved: true,\n    mode,\n  };\n}\n\nconst mode = actionMode(item.emailActionsMode ?? item.email_actions_mode);\nconst labelNames = labelsOf(item);\nconst actionHints = hintsOf(item);\nconst classificationLabels = Array.isArray(item.classification?.labels) ? item.classification.labels : [];\nconst hasUncertainClassification = hasUncertainLabel(item.labels) || hasUncertainLabel(classificationLabels);\nconst now = parseDate(item.actionNow || item.workflowNow || item.now) || new Date();\nconst archiveMailbox = stringValue(item.actionArchiveMailbox, 'Archive');\nconst spamMailbox = stringValue(item.actionSpamMailbox, 'Spam');\nconst trashMailbox = stringValue(item.actionTrashMailbox, 'Trash');\n\nlet emailAction = noAction('no_rule_matched', mode);\n\nif (mode === 'disabled') {\n  emailAction = noAction('actions_disabled', mode);\n} else if (hasUncertainClassification) {\n  emailAction = noAction('uncertain_classification', mode);\n} else if (labelNames.size === 0) {\n  emailAction = noAction('no_accepted_labels', mode);\n} else if (labelNames.has('Spam like')) {\n  emailAction = approved('move_to_spam', spamMailbox, 'spam_like', mode);\n} else if (actionHints.two_factor_code === true) {\n  const emailDate = parseEmailDate(item.date || item.email_date || item.receivedAt);\n  if (emailDate && now.getTime() - emailDate.getTime() > HOURS_24_MS) {\n    emailAction = approved('move_to_trash', trashMailbox, 'expired_two_factor_code', mode);\n  } else {\n    emailAction = noAction(emailDate ? 'two_factor_code_still_recent' : 'invalid_email_date', mode);\n  }\n} else if (labelNames.has('Schedule') && actionHints.event_notice === true) {\n  const eventTime = parseEventTime(actionHints.event_time);\n  if (eventTime && eventTime.getTime() < now.getTime()) {\n    emailAction = approved('archive', archiveMailbox, 'past_event', mode);\n  } else {\n    emailAction = noAction(eventTime ? 'event_not_past' : 'invalid_event_time', mode);\n  }\n} else if (\n  labelNames.has('Infrastructure')\n  && actionHints.backup_job === true\n  && actionHints.backup_status === 'success'\n  && actionHints.has_errors === false\n) {\n  emailAction = approved('archive', archiveMailbox, 'successful_backup', mode);\n}\n\nreturn [{\n  json: {\n    ...item,\n    emailAction,\n    email_action_status: emailAction.approved ? 'planned' : 'skipped_no_action',\n    email_action_destination: emailAction.destinationMailbox,\n  },\n}];\n"
      }
    },
    {
      "id": "2c2f6111-0922-45b9-8f78-441197ba4f78",
      "name": "Execute email action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const net = require('net');\nconst tls = require('tls');\n\nclass ImapClient {\n  constructor(config) {\n    this.host = config.host;\n    this.port = config.port;\n    this.ssl = config.ssl;\n    this.startTls = config.startTls;\n    this.allowUnauthorizedCerts = config.allowUnauthorizedCerts;\n    this.socket = null;\n    this.buffer = '';\n    this.waiters = [];\n    this.tagCounter = 0;\n  }\n\n  attachSocket(socket) {\n    this.socket = socket;\n    this.socket.setEncoding('binary');\n    this.socket.on('data', (chunk) => {\n      this.buffer += chunk;\n      this.flushWaiters();\n    });\n    this.socket.on('error', (error) => {\n      for (const waiter of this.waiters.splice(0)) waiter.reject(error);\n    });\n  }\n\n  flushWaiters() {\n    for (let index = 0; index < this.waiters.length; index += 1) {\n      const waiter = this.waiters[index];\n      let result;\n      try {\n        result = waiter.tryRead(this.buffer);\n      } catch (error) {\n        clearTimeout(waiter.timer);\n        this.waiters.splice(index, 1);\n        waiter.reject(error);\n        index -= 1;\n        continue;\n      }\n      if (!result) continue;\n      clearTimeout(waiter.timer);\n      this.buffer = this.buffer.slice(result.consumed);\n      this.waiters.splice(index, 1);\n      waiter.resolve(result.value);\n      index -= 1;\n    }\n  }\n\n  readWith(tryRead, timeoutMs = 30000) {\n    return new Promise((resolve, reject) => {\n      const waiter = {\n        tryRead,\n        resolve,\n        reject,\n        timer: setTimeout(() => {\n          const idx = this.waiters.indexOf(waiter);\n          if (idx >= 0) this.waiters.splice(idx, 1);\n          reject(new Error('Timed out waiting for IMAP response'));\n        }, timeoutMs),\n      };\n      this.waiters.push(waiter);\n      this.flushWaiters();\n    });\n  }\n\n  readLine() {\n    return this.readWith((buffer) => {\n      const end = buffer.indexOf('\\r\\n');\n      if (end < 0) return null;\n      return { value: buffer.slice(0, end), consumed: end + 2 };\n    });\n  }\n\n  tlsOptions(options) {\n    const tlsOptions = {\n      ...options,\n      rejectUnauthorized: !this.allowUnauthorizedCerts,\n    };\n    if (!net.isIP(this.host)) {\n      tlsOptions.servername = this.host;\n    }\n    return tlsOptions;\n  }\n\n  async connect() {\n    const socket = this.ssl\n      ? tls.connect(this.tlsOptions({\n          host: this.host,\n          port: this.port,\n        }))\n      : net.connect({ host: this.host, port: this.port });\n\n    this.attachSocket(socket);\n    await new Promise((resolve, reject) => {\n      socket.once('connect', resolve);\n      socket.once('secureConnect', resolve);\n      socket.once('error', reject);\n    });\n    await this.readLine();\n\n    if (!this.ssl && this.startTls) {\n      await this.command('STARTTLS', 60000, 'STARTTLS');\n      this.socket.removeAllListeners('data');\n      this.socket = tls.connect(this.tlsOptions({\n        socket: this.socket,\n      }));\n      this.attachSocket(this.socket);\n      await new Promise((resolve, reject) => {\n        this.socket.once('secureConnect', resolve);\n        this.socket.once('error', reject);\n      });\n    }\n  }\n\n  nextTag() {\n    this.tagCounter += 1;\n    return `A${String(this.tagCounter).padStart(4, '0')}`;\n  }\n\n  command(commandText, timeoutMs = 60000, operation = commandText.split(/\\s+/)[0]) {\n    const tag = this.nextTag();\n    this.socket.write(`${tag} ${commandText}\\r\\n`, 'binary');\n    const pattern = new RegExp(`(^|\\\\r\\\\n)${tag} (OK|NO|BAD)[^\\\\r\\\\n]*(\\\\r\\\\n|$)`);\n    return this.readWith((buffer) => {\n      const match = pattern.exec(buffer);\n      if (!match) return null;\n      const end = match.index + match[0].length;\n      const response = buffer.slice(0, end);\n      if (match[2] !== 'OK') throw new Error(`IMAP ${operation} failed`);\n      return { value: response, consumed: end };\n    }, timeoutMs);\n  }\n\n  async login(username, password) {\n    await this.command(`LOGIN ${quoteString(username)} ${quoteString(password)}`, 60000, 'LOGIN');\n  }\n\n  async select(mailbox) {\n    await this.command(`SELECT ${quoteString(mailbox)}`, 60000, 'SELECT');\n  }\n\n  async mailboxExists(mailbox) {\n    const response = await this.command(`LIST \"\" ${quoteString(mailbox)}`, 60000, 'LIST');\n    return /\\* LIST /i.test(response);\n  }\n\n  async searchMessageId(mailbox, messageId) {\n    await this.select(mailbox);\n    const response = await this.command(\n      `UID SEARCH HEADER Message-ID ${quoteString(messageId)}`,\n      60000,\n      'UID SEARCH',\n    );\n    return parseSearchResponse(response);\n  }\n\n  async moveUid(uid, destination) {\n    await this.command(`UID MOVE ${uid} ${quoteString(destination)}`, 120000, 'UID MOVE');\n  }\n\n  async logout() {\n    try {\n      await this.command('LOGOUT', 10000, 'LOGOUT');\n    } finally {\n      this.socket?.end();\n    }\n  }\n}\n\nfunction quoteString(value) {\n  return `\"${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"`;\n}\n\nfunction parseSearchResponse(response) {\n  const match = response.match(/\\* SEARCH([^\\r\\n]*)/i);\n  if (!match) return [];\n  return match[1].trim().split(/\\s+/).filter(Boolean);\n}\n\nfunction boolValue(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n}\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed)) {\n    throw new Error(`${description} must be a number`);\n  }\n  return parsed;\n}\n\nfunction configValue(source, key, fallback) {\n  const value = source[key];\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nfunction envValue(name) {\n  try {\n    if (typeof $vars !== 'undefined' && $vars?.[name]) return $vars[name];\n  } catch {}\n  try {\n    if (typeof vars !== 'undefined' && vars?.[name]) return vars[name];\n  } catch {}\n  try {\n    if (typeof $env !== 'undefined' && $env?.[name]) return $env[name];\n  } catch {}\n  try {\n    if (typeof env !== 'undefined' && env?.[name]) return env[name];\n  } catch {}\n  return '';\n}\n\nfunction normalizeCredentialPair(item) {\n  const pair = item.credentialPair && typeof item.credentialPair === 'object'\n    ? item.credentialPair\n    : {};\n  const id = String(configValue(pair, 'id', item.credentialPairId || 'imap-1'));\n  const hostVar = String(configValue(pair, 'hostVar', configValue(item, 'hostVar', 'IMAP_HOST')));\n  const portVar = String(configValue(pair, 'portVar', configValue(item, 'portVar', 'IMAP_PORT')));\n\n  return {\n    id,\n    host: String(envValue(hostVar) || configValue(pair, 'host', configValue(item, 'imapHost', '192.168.3.200'))),\n    port: numberValue(\n      envValue(portVar) || configValue(pair, 'port', configValue(item, 'imapPort', 1143)),\n      1143,\n      `Credential pair ${id} port`,\n    ),\n    hostVar,\n    portVar,\n    ssl: boolValue(pair.ssl ?? pair.imapSsl, boolValue(item.imapSsl, false)),\n    startTls: boolValue(pair.startTls ?? pair.imapStartTls, boolValue(item.imapStartTls, true)),\n    allowUnauthorizedCerts: boolValue(\n      pair.allowUnauthorizedCerts,\n      boolValue(item.allowUnauthorizedCerts, true),\n    ),\n    userVar: String(configValue(pair, 'userVar', configValue(item, 'userVar', 'IMAP_USER'))),\n    passwordVar: String(configValue(pair, 'passwordVar', configValue(item, 'passwordVar', 'IMAP_PASSWORD'))),\n  };\n}\n\nfunction normalizeUid(value) {\n  if (value === undefined || value === null || value === '') return '';\n  const uid = String(value);\n  if (!/^\\d+$/.test(uid)) {\n    throw new Error('IMAP UID must contain only digits.');\n  }\n  return uid;\n}\n\nfunction isUnsafeOutputKey(key) {\n  const normalized = String(key).toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (\n    normalized.includes('password')\n    || normalized.includes('secret')\n    || normalized.includes('token')\n    || normalized.includes('apikey')\n    || normalized.includes('authorization')\n    || normalized.includes('credential')\n    || normalized.includes('cookie')\n    || normalized.includes('privatekey')\n  ) {\n    return true;\n  }\n  return [\n    'body',\n    'emailbody',\n    'bodypreview',\n    'rawbody',\n    'textplain',\n    'texthtml',\n    'userprompt',\n    'systemprompt',\n    'prompt',\n    'rawimapcommand',\n    'rawcommand',\n    'commandtext',\n    'rawserverresponse',\n    'rawresponse',\n    'serverresponse',\n    'headers',\n    'rawheaders',\n  ].includes(normalized);\n}\n\nfunction isSecretLookingValue(value) {\n  if (typeof value !== 'string') return false;\n  return /(?:^sk-[a-z0-9_-]{8,}|password|secret|bearer\\s+|api[_-]?key|-----BEGIN [A-Z ]*PRIVATE KEY-----)/i.test(value);\n}\n\nfunction sanitizeOutputValue(value) {\n  if (value === null || value === undefined) return value;\n  if (isSecretLookingValue(value)) return undefined;\n  if (Array.isArray(value)) {\n    return value\n      .map((entry) => sanitizeOutputValue(entry))\n      .filter((entry) => entry !== undefined);\n  }\n  if (typeof value !== 'object') return value;\n\n  const sanitized = {};\n  for (const [key, entry] of Object.entries(value)) {\n    if (isUnsafeOutputKey(key)) continue;\n    const sanitizedEntry = sanitizeOutputValue(entry);\n    if (sanitizedEntry !== undefined) sanitized[key] = sanitizedEntry;\n  }\n  return sanitized;\n}\n\nfunction outputJson(item, fields) {\n  return {\n    ...sanitizeOutputValue(item),\n    ...fields,\n  };\n}\n\nconst item = $input.first()?.json ?? {};\nconst action = item.emailAction && typeof item.emailAction === 'object'\n  ? item.emailAction\n  : {};\nconst mode = String(item.emailActionsMode || action.mode || 'live').toLowerCase();\nconst actionName = String(action.action || '');\nconst destinationMailbox = String(action.destinationMailbox || '').trim();\n\nif (action.approved !== true || !destinationMailbox || actionName === 'none' || mode === 'disabled') {\n  return [{\n    json: outputJson(item, {\n      email_action_status: 'skipped_no_action',\n      email_action_destination: '',\n    }),\n  }];\n}\n\nif (mode === 'dry_run') {\n  return [{\n    json: outputJson(item, {\n      email_action_status: 'would_move',\n      email_action_destination: destinationMailbox,\n    }),\n  }];\n}\n\nconst pair = normalizeCredentialPair(item);\nconst username = envValue(pair.userVar);\nconst password = envValue(pair.passwordVar);\nif (!username || !password) {\n  throw new Error(`Credential pair ${pair.id} requires n8n variables ${pair.userVar} and ${pair.passwordVar}.`);\n}\n\nconst config = {\n  host: envValue(pair.hostVar) || pair.host,\n  port: numberValue(envValue(pair.portVar) || pair.port, pair.port, `Credential pair ${pair.id} port`),\n  ssl: pair.ssl,\n  startTls: pair.startTls,\n  allowUnauthorizedCerts: pair.allowUnauthorizedCerts,\n};\n\nconst sourceMailbox = String(configValue(item, 'sourceMailbox', 'INBOX'));\nconst client = new ImapClient(config);\n\ntry {\n  await client.connect();\n  await client.login(username, password);\n\n  if (!(await client.mailboxExists(destinationMailbox))) {\n    return [{\n      json: outputJson(item, {\n        email_action_status: 'skipped_missing_mailbox',\n        email_action_destination: destinationMailbox,\n        email_action_error: 'destination_mailbox_missing',\n      }),\n    }];\n  }\n\n  let uid = normalizeUid(item.uid);\n  if (!uid && item.message_id) {\n    const matches = await client.searchMessageId(sourceMailbox, item.message_id);\n    uid = normalizeUid(matches.at(-1) || '');\n  }\n  if (!uid) {\n    throw new Error('Email item did not include an IMAP UID or searchable Message-ID.');\n  }\n\n  await client.select(sourceMailbox);\n  await client.moveUid(uid, destinationMailbox);\n} finally {\n  await client.logout().catch(() => {});\n}\n\nreturn [{\n  json: outputJson(item, {\n    email_action_status: 'moved',\n    email_action_destination: destinationMailbox,\n    source_action: actionName,\n  }),\n}];\n"
      }
    },
    {
      "id": "eb97dbfe-891b-4cf7-a3ee-5c4f220d9fa3",
      "name": "Execute email action (trigger)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        520
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const net = require('net');\nconst tls = require('tls');\n\nclass ImapClient {\n  constructor(config) {\n    this.host = config.host;\n    this.port = config.port;\n    this.ssl = config.ssl;\n    this.startTls = config.startTls;\n    this.allowUnauthorizedCerts = config.allowUnauthorizedCerts;\n    this.socket = null;\n    this.buffer = '';\n    this.waiters = [];\n    this.tagCounter = 0;\n  }\n\n  attachSocket(socket) {\n    this.socket = socket;\n    this.socket.setEncoding('binary');\n    this.socket.on('data', (chunk) => {\n      this.buffer += chunk;\n      this.flushWaiters();\n    });\n    this.socket.on('error', (error) => {\n      for (const waiter of this.waiters.splice(0)) waiter.reject(error);\n    });\n  }\n\n  flushWaiters() {\n    for (let index = 0; index < this.waiters.length; index += 1) {\n      const waiter = this.waiters[index];\n      let result;\n      try {\n        result = waiter.tryRead(this.buffer);\n      } catch (error) {\n        clearTimeout(waiter.timer);\n        this.waiters.splice(index, 1);\n        waiter.reject(error);\n        index -= 1;\n        continue;\n      }\n      if (!result) continue;\n      clearTimeout(waiter.timer);\n      this.buffer = this.buffer.slice(result.consumed);\n      this.waiters.splice(index, 1);\n      waiter.resolve(result.value);\n      index -= 1;\n    }\n  }\n\n  readWith(tryRead, timeoutMs = 30000) {\n    return new Promise((resolve, reject) => {\n      const waiter = {\n        tryRead,\n        resolve,\n        reject,\n        timer: setTimeout(() => {\n          const idx = this.waiters.indexOf(waiter);\n          if (idx >= 0) this.waiters.splice(idx, 1);\n          reject(new Error('Timed out waiting for IMAP response'));\n        }, timeoutMs),\n      };\n      this.waiters.push(waiter);\n      this.flushWaiters();\n    });\n  }\n\n  readLine() {\n    return this.readWith((buffer) => {\n      const end = buffer.indexOf('\\r\\n');\n      if (end < 0) return null;\n      return { value: buffer.slice(0, end), consumed: end + 2 };\n    });\n  }\n\n  tlsOptions(options) {\n    const tlsOptions = {\n      ...options,\n      rejectUnauthorized: !this.allowUnauthorizedCerts,\n    };\n    if (!net.isIP(this.host)) {\n      tlsOptions.servername = this.host;\n    }\n    return tlsOptions;\n  }\n\n  async connect() {\n    const socket = this.ssl\n      ? tls.connect(this.tlsOptions({\n          host: this.host,\n          port: this.port,\n        }))\n      : net.connect({ host: this.host, port: this.port });\n\n    this.attachSocket(socket);\n    await new Promise((resolve, reject) => {\n      socket.once('connect', resolve);\n      socket.once('secureConnect', resolve);\n      socket.once('error', reject);\n    });\n    await this.readLine();\n\n    if (!this.ssl && this.startTls) {\n      await this.command('STARTTLS', 60000, 'STARTTLS');\n      this.socket.removeAllListeners('data');\n      this.socket = tls.connect(this.tlsOptions({\n        socket: this.socket,\n      }));\n      this.attachSocket(this.socket);\n      await new Promise((resolve, reject) => {\n        this.socket.once('secureConnect', resolve);\n        this.socket.once('error', reject);\n      });\n    }\n  }\n\n  nextTag() {\n    this.tagCounter += 1;\n    return `A${String(this.tagCounter).padStart(4, '0')}`;\n  }\n\n  command(commandText, timeoutMs = 60000, operation = commandText.split(/\\s+/)[0]) {\n    const tag = this.nextTag();\n    this.socket.write(`${tag} ${commandText}\\r\\n`, 'binary');\n    const pattern = new RegExp(`(^|\\\\r\\\\n)${tag} (OK|NO|BAD)[^\\\\r\\\\n]*(\\\\r\\\\n|$)`);\n    return this.readWith((buffer) => {\n      const match = pattern.exec(buffer);\n      if (!match) return null;\n      const end = match.index + match[0].length;\n      const response = buffer.slice(0, end);\n      if (match[2] !== 'OK') throw new Error(`IMAP ${operation} failed`);\n      return { value: response, consumed: end };\n    }, timeoutMs);\n  }\n\n  async login(username, password) {\n    await this.command(`LOGIN ${quoteString(username)} ${quoteString(password)}`, 60000, 'LOGIN');\n  }\n\n  async select(mailbox) {\n    await this.command(`SELECT ${quoteString(mailbox)}`, 60000, 'SELECT');\n  }\n\n  async mailboxExists(mailbox) {\n    const response = await this.command(`LIST \"\" ${quoteString(mailbox)}`, 60000, 'LIST');\n    return /\\* LIST /i.test(response);\n  }\n\n  async searchMessageId(mailbox, messageId) {\n    await this.select(mailbox);\n    const response = await this.command(\n      `UID SEARCH HEADER Message-ID ${quoteString(messageId)}`,\n      60000,\n      'UID SEARCH',\n    );\n    return parseSearchResponse(response);\n  }\n\n  async moveUid(uid, destination) {\n    await this.command(`UID MOVE ${uid} ${quoteString(destination)}`, 120000, 'UID MOVE');\n  }\n\n  async logout() {\n    try {\n      await this.command('LOGOUT', 10000, 'LOGOUT');\n    } finally {\n      this.socket?.end();\n    }\n  }\n}\n\nfunction quoteString(value) {\n  return `\"${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"`;\n}\n\nfunction parseSearchResponse(response) {\n  const match = response.match(/\\* SEARCH([^\\r\\n]*)/i);\n  if (!match) return [];\n  return match[1].trim().split(/\\s+/).filter(Boolean);\n}\n\nfunction boolValue(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n}\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed)) {\n    throw new Error(`${description} must be a number`);\n  }\n  return parsed;\n}\n\nfunction configValue(source, key, fallback) {\n  const value = source[key];\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nfunction envValue(name) {\n  try {\n    if (typeof $vars !== 'undefined' && $vars?.[name]) return $vars[name];\n  } catch {}\n  try {\n    if (typeof vars !== 'undefined' && vars?.[name]) return vars[name];\n  } catch {}\n  try {\n    if (typeof $env !== 'undefined' && $env?.[name]) return $env[name];\n  } catch {}\n  try {\n    if (typeof env !== 'undefined' && env?.[name]) return env[name];\n  } catch {}\n  return '';\n}\n\nfunction normalizeCredentialPair(item) {\n  const pair = item.credentialPair && typeof item.credentialPair === 'object'\n    ? item.credentialPair\n    : {};\n  const id = String(configValue(pair, 'id', item.credentialPairId || 'imap-1'));\n  const hostVar = String(configValue(pair, 'hostVar', configValue(item, 'hostVar', 'IMAP_HOST')));\n  const portVar = String(configValue(pair, 'portVar', configValue(item, 'portVar', 'IMAP_PORT')));\n\n  return {\n    id,\n    host: String(envValue(hostVar) || configValue(pair, 'host', configValue(item, 'imapHost', '192.168.3.200'))),\n    port: numberValue(\n      envValue(portVar) || configValue(pair, 'port', configValue(item, 'imapPort', 1143)),\n      1143,\n      `Credential pair ${id} port`,\n    ),\n    hostVar,\n    portVar,\n    ssl: boolValue(pair.ssl ?? pair.imapSsl, boolValue(item.imapSsl, false)),\n    startTls: boolValue(pair.startTls ?? pair.imapStartTls, boolValue(item.imapStartTls, true)),\n    allowUnauthorizedCerts: boolValue(\n      pair.allowUnauthorizedCerts,\n      boolValue(item.allowUnauthorizedCerts, true),\n    ),\n    userVar: String(configValue(pair, 'userVar', configValue(item, 'userVar', 'IMAP_USER'))),\n    passwordVar: String(configValue(pair, 'passwordVar', configValue(item, 'passwordVar', 'IMAP_PASSWORD'))),\n  };\n}\n\nfunction normalizeUid(value) {\n  if (value === undefined || value === null || value === '') return '';\n  const uid = String(value);\n  if (!/^\\d+$/.test(uid)) {\n    throw new Error('IMAP UID must contain only digits.');\n  }\n  return uid;\n}\n\nfunction isUnsafeOutputKey(key) {\n  const normalized = String(key).toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (\n    normalized.includes('password')\n    || normalized.includes('secret')\n    || normalized.includes('token')\n    || normalized.includes('apikey')\n    || normalized.includes('authorization')\n    || normalized.includes('credential')\n    || normalized.includes('cookie')\n    || normalized.includes('privatekey')\n  ) {\n    return true;\n  }\n  return [\n    'body',\n    'emailbody',\n    'bodypreview',\n    'rawbody',\n    'textplain',\n    'texthtml',\n    'userprompt',\n    'systemprompt',\n    'prompt',\n    'rawimapcommand',\n    'rawcommand',\n    'commandtext',\n    'rawserverresponse',\n    'rawresponse',\n    'serverresponse',\n    'headers',\n    'rawheaders',\n  ].includes(normalized);\n}\n\nfunction isSecretLookingValue(value) {\n  if (typeof value !== 'string') return false;\n  return /(?:^sk-[a-z0-9_-]{8,}|password|secret|bearer\\s+|api[_-]?key|-----BEGIN [A-Z ]*PRIVATE KEY-----)/i.test(value);\n}\n\nfunction sanitizeOutputValue(value) {\n  if (value === null || value === undefined) return value;\n  if (isSecretLookingValue(value)) return undefined;\n  if (Array.isArray(value)) {\n    return value\n      .map((entry) => sanitizeOutputValue(entry))\n      .filter((entry) => entry !== undefined);\n  }\n  if (typeof value !== 'object') return value;\n\n  const sanitized = {};\n  for (const [key, entry] of Object.entries(value)) {\n    if (isUnsafeOutputKey(key)) continue;\n    const sanitizedEntry = sanitizeOutputValue(entry);\n    if (sanitizedEntry !== undefined) sanitized[key] = sanitizedEntry;\n  }\n  return sanitized;\n}\n\nfunction outputJson(item, fields) {\n  return {\n    ...sanitizeOutputValue(item),\n    ...fields,\n  };\n}\n\nconst item = $input.first()?.json ?? {};\nconst action = item.emailAction && typeof item.emailAction === 'object'\n  ? item.emailAction\n  : {};\nconst mode = String(item.emailActionsMode || action.mode || 'live').toLowerCase();\nconst actionName = String(action.action || '');\nconst destinationMailbox = String(action.destinationMailbox || '').trim();\n\nif (action.approved !== true || !destinationMailbox || actionName === 'none' || mode === 'disabled') {\n  return [{\n    json: outputJson(item, {\n      email_action_status: 'skipped_no_action',\n      email_action_destination: '',\n    }),\n  }];\n}\n\nif (mode === 'dry_run') {\n  return [{\n    json: outputJson(item, {\n      email_action_status: 'would_move',\n      email_action_destination: destinationMailbox,\n    }),\n  }];\n}\n\nconst pair = normalizeCredentialPair(item);\nconst username = envValue(pair.userVar);\nconst password = envValue(pair.passwordVar);\nif (!username || !password) {\n  throw new Error(`Credential pair ${pair.id} requires n8n variables ${pair.userVar} and ${pair.passwordVar}.`);\n}\n\nconst config = {\n  host: envValue(pair.hostVar) || pair.host,\n  port: numberValue(envValue(pair.portVar) || pair.port, pair.port, `Credential pair ${pair.id} port`),\n  ssl: pair.ssl,\n  startTls: pair.startTls,\n  allowUnauthorizedCerts: pair.allowUnauthorizedCerts,\n};\n\nconst sourceMailbox = String(configValue(item, 'sourceMailbox', 'INBOX'));\nconst client = new ImapClient(config);\n\ntry {\n  await client.connect();\n  await client.login(username, password);\n\n  if (!(await client.mailboxExists(destinationMailbox))) {\n    return [{\n      json: outputJson(item, {\n        email_action_status: 'skipped_missing_mailbox',\n        email_action_destination: destinationMailbox,\n        email_action_error: 'destination_mailbox_missing',\n      }),\n    }];\n  }\n\n  let uid = normalizeUid(item.uid);\n  if (!uid && item.message_id) {\n    const matches = await client.searchMessageId(sourceMailbox, item.message_id);\n    uid = normalizeUid(matches.at(-1) || '');\n  }\n  if (!uid) {\n    throw new Error('Email item did not include an IMAP UID or searchable Message-ID.');\n  }\n\n  await client.select(sourceMailbox);\n  await client.moveUid(uid, destinationMailbox);\n} finally {\n  await client.logout().catch(() => {});\n}\n\nreturn [{\n  json: outputJson(item, {\n    email_action_status: 'moved',\n    email_action_destination: destinationMailbox,\n    source_action: actionName,\n  }),\n}];\n"
      }
    }
  ],
  "connections": {
    "Backfill Form Trigger": {
      "main": [
        [
          {
            "node": "Configure Proton IMAP batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Proton IMAP batch": {
      "main": [
        [
          {
            "node": "Get next 50 unclassified emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get next 50 unclassified emails": {
      "main": [
        [
          {
            "node": "Stop if no fetched emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand fetched emails": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Emails": {
      "main": [
        [
          {
            "node": "Get next 50 unclassified emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean and truncate email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Normalize trigger email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize trigger email": {
      "main": [
        [
          {
            "node": "Skip classified trigger email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build classification prompt": {
      "main": [
        [
          {
            "node": "Classify with Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify with Ollama",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify with Ollama": {
      "main": [
        [
          {
            "node": "Prepare Proton label targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Proton label targets": {
      "main": [
        [
          {
            "node": "Plan email actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From bulk loop?": {
      "main": [
        [
          {
            "node": "Apply Proton labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Proton labels (trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Proton labels": {
      "main": [
        [
          {
            "node": "Execute email action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inspect Proton label targets": {
      "main": [
        [
          {
            "node": "From bulk loop?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop if no fetched emails": {
      "main": [
        [
          {
            "node": "Expand fetched emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip classified trigger email": {
      "main": [
        [
          {
            "node": "Clean and truncate email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and truncate email": {
      "main": [
        [
          {
            "node": "Generate email embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate email embedding": {
      "main": [
        [
          {
            "node": "Build classification prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan email actions": {
      "main": [
        [
          {
            "node": "Inspect Proton label targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute email action": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Proton labels (trigger)": {
      "main": [
        [
          {
            "node": "Execute email action (trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "pinData": {}
}
