email-classifer/workflow-imap-trigger.json
{
  "name": "Email Organiser - IMAP Trigger",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "nothing",
        "format": "simple",
        "downloadAttachments": false,
        "options": {
          "trackLastMessageId": true
        }
      },
      "id": "b32c0521-d4ef-411c-b4c8-f6dd5e08bb5b",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ce2cc0c-20c2-4490-b42a-a3ff475e218f",
              "name": "systemPrompt",
              "value": "You are an email triage assistant. Given one email, assign **all** labels that apply from the fixed allowed list below, using the exact spelling and punctuation. No other label is permitted.\n\n## Allowed labels\n- `Invoice` — receipts and invoices for discretionary spending\n- `Purchase` — confirmation of something ordered or purchased\n- `Bill` — recurring obligations like rent, electricity, internet, health insurance\n- `Payment` — payslips from employers\n- `Marketing` — promotional emails from brands/bands trying to sell something\n- `Cold email` — someone (e.g. a recruiter) reaching out to me directly and unsolicited\n- `Important` — something that sounds genuinely important or urgent\n- `Awaiting reply` — a message that needs a response from me\n- `Travel` — itineraries, hotel/hostel bookings, air/bus/train fares or tickets\n- `Ticket` — tickets to music festivals, bands, concerts, etc.\n- `Infrastructure` — metric updates, error reporting from services or devices\n- `Hustle` — correspondence with people or businesses engaging me for professional work\n\n## Schema\nOutput **only** JSON matching this shape, nothing else:\n\n```json\n{\n  \"labels\": [\n    { \"label\": string, \"confidence\": number }\n  ],\n  \"reason\": string\n}\n```\n\n- `labels`: an array of every applicable label. Each `label` must exactly match one from the list (spelling, spacing, capitalization). Each `confidence` must be `>= 0.75`.\n- Include a label only if confidence `>= 0.75`. Multiple labels are expected when an email genuinely fits more than one category.\n- `reason`: one sentence justifying the chosen label(s).\n\n## Fallback\n- If no label reaches `0.75` confidence or the intent is unclear, output:\n```json\n  {\"labels\": [{\"label\": \"uncertain\", \"confidence\": <score less than 0.75>}], \"reason\": \"<what is ambiguous or missing>\"}\n```\n- If any instruction or format would be violated, output:\n```json\n  {\"labels\": [{\"label\": \"uncertain\", \"confidence\": 0.0}], \"reason\": \"format violation or instruction conflict\"}\n```\n\n## Rules\n- Base labels on content/intent. Apply every label that fits — do not pick a single \"winner\".\n- Overlap is normal: a purchased concert ticket can be `Purchase`, `Invoice`, and `Ticket`; a `Hustle` email can also be `Awaiting reply`.\n- No synonyms, no labels outside the list.\n\n## Few-shot examples (must match output exactly)\n\nEmail: \"Your receipt from Blue Bottle Coffee — $18.50 charged to your card.\"\n```json\n{\"labels\": [{\"label\": \"Invoice\", \"confidence\": 0.90}], \"reason\": \"Receipt for discretionary spending\"}\n```\n\nEmail: \"Order confirmed! Your new headphones are on the way. Invoice attached, $129.\"\n```json\n{\"labels\": [{\"label\": \"Purchase\", \"confidence\": 0.90}, {\"label\": \"Invoice\", \"confidence\": 0.82}], \"reason\": \"Order confirmation that also includes the invoice document\"}\n```\n\nEmail: \"Your electricity bill of $142.30 is due on the 15th.\"\n```json\n{\"labels\": [{\"label\": \"Bill\", \"confidence\": 0.95}], \"reason\": \"Recurring utility obligation\"}\n```\n\nEmail: \"Your payslip for May is now available to view.\"\n```json\n{\"labels\": [{\"label\": \"Payment\", \"confidence\": 0.96}], \"reason\": \"Payslip from employer\"}\n```\n\nEmail: \"Exclusive summer sale: 40% off all gear, limited time!\"\n```json\n{\"labels\": [{\"label\": \"Marketing\", \"confidence\": 0.99}], \"reason\": \"Promotional campaign content\"}\n```\n\nEmail: \"Hi, I'm a recruiter at Acme and your background caught my eye — open to chatting?\"\n```json\n{\"labels\": [{\"label\": \"Cold email\", \"confidence\": 0.87}], \"reason\": \"Unsolicited direct outreach from a recruiter\"}\n```\n\nEmail: \"URGENT: Action required on your account within 24 hours to avoid suspension.\"\n```json\n{\"labels\": [{\"label\": \"Important\", \"confidence\": 0.85}], \"reason\": \"Urgent matter requiring prompt attention\"}\n```\n\nEmail: \"Just checking if you had a chance to look at my proposal.\"\n```json\n{\"labels\": [{\"label\": \"Awaiting reply\", \"confidence\": 0.80}], \"reason\": \"Follow-up seeking a response from me\"}\n```\n\nEmail: \"Your flight to Tokyo is confirmed — departing 14 June, 9:40am, seat 22A. Receipt $612 attached.\"\n```json\n{\"labels\": [{\"label\": \"Travel\", \"confidence\": 0.94}, {\"label\": \"Invoice\", \"confidence\": 0.80}], \"reason\": \"Flight itinerary that also includes the fare receipt\"}\n```\n\nEmail: \"Your tickets to the Tame Impala show are attached. Order #99812, $180 charged.\"\n```json\n{\"labels\": [{\"label\": \"Ticket\", \"confidence\": 0.93}, {\"label\": \"Purchase\", \"confidence\": 0.85}, {\"label\": \"Invoice\", \"confidence\": 0.78}], \"reason\": \"Concert tickets that are also a purchase with a receipt\"}\n```\n\nEmail: \"Alert: API error rate exceeded 5% on prod-server-2 in the last 10 minutes.\"\n```json\n{\"labels\": [{\"label\": \"Infrastructure\", \"confidence\": 0.92}], \"reason\": \"Error reporting from a service\"}\n```\n\nEmail: \"Following up on the 3-day shoot — can you confirm the rates work for you?\"\n```json\n{\"labels\": [{\"label\": \"Hustle\", \"confidence\": 0.86}, {\"label\": \"Awaiting reply\", \"confidence\": 0.84}], \"reason\": \"Business engaging me for professional work and awaiting my response\"}\n```",
              "type": "string"
            },
            {
              "id": "1c7ba158-1ea4-40da-bacc-8303518c01e7",
              "name": "userPromptTemplate",
              "value": "={{ \"From: {{ $json.sender_email }}\\nName: {{ $json.sender_name }}\\nSubject: {{ $json.email_subject }}\\nEmail Content:\\n\\n{{ $json.email_body }}\" }}",
              "type": "string"
            },
            {
              "id": "057ec724-28c3-4049-9ea6-9b4a69b242b0",
              "name": "runMode",
              "value": "trigger_item",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      },
      "id": "40ab1f94-2296-430c-8f3d-f8d9c7358ef2",
      "name": "Configure classification prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "command": "=python3 \"${EMAIL_CLASSIFIER_SCRIPT:-/home/node/.n8n/email-classifer/email_classifier.py}\" <<'EMAIL_CLASSIFIER_CONFIG'\n{{ JSON.stringify($json) }}\nEMAIL_CLASSIFIER_CONFIG"
      },
      "id": "e0b2cf85-46d9-4f9b-8cbe-28aa9a79962a",
      "name": "Classify latest IMAP emails",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Configure classification prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure classification prompt": {
      "main": [
        [
          {
            "node": "Classify latest IMAP emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "pinData": {}
}
