email-classifer/workflow.json
{
  "name": "Email Organiser",
  "nodes": [
    {
      "id": "17fb1f68-8f45-4be6-aa90-b9d63251f4e0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        80
      ],
      "parameters": {}
    },
    {
      "id": "bc474afe-e926-4424-9d2d-d8855ba362a6f",
      "name": "Configure Proton IMAP batch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -520,
        80
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-mode",
              "name": "runMode",
              "value": "fetch_batch",
              "type": "string"
            },
            {
              "id": "batch-limit",
              "name": "batchLimit",
              "value": 50,
              "type": "number"
            },
            {
              "id": "imap-host",
              "name": "imapHost",
              "value": "192.168.3.200",
              "type": "string"
            },
            {
              "id": "imap-port",
              "name": "imapPort",
              "value": 1143,
              "type": "number"
            },
            {
              "id": "imap-ssl",
              "name": "imapSsl",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "imap-starttls",
              "name": "imapStartTls",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "source-mailbox",
              "name": "sourceMailbox",
              "value": "INBOX",
              "type": "string"
            },
            {
              "id": "label-prefix",
              "name": "labelPrefix",
              "value": "Labels",
              "type": "string"
            },
            {
              "id": "state-label",
              "name": "stateLabel",
              "value": "Classified",
              "type": "string"
            },
            {
              "id": "dry-run",
              "name": "dryRun",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "imap-pairs-json",
              "name": "imapPairsJson",
              "value": "[\n  {\n    \"id\": \"imap-1\",\n    \"host\": \"192.168.3.200\",\n    \"port\": 1143,\n    \"hostVar\": \"IMAP_1_HOST\",\n    \"portVar\": \"IMAP_1_PORT\",\n    \"ssl\": false,\n    \"startTls\": true,\n    \"allowUnauthorizedCerts\": true,\n    \"userVar\": \"IMAP_1_USER\",\n    \"passwordVar\": \"IMAP_1_PASSWORD\",\n    \"sourceMailboxes\": [\n      \"INBOX\"\n    ],\n    \"labelPrefix\": \"Labels\",\n    \"stateLabel\": \"Classified\"\n  },\n  {\n    \"id\": \"imap-2\",\n    \"host\": \"192.168.3.200\",\n    \"port\": 1143,\n    \"hostVar\": \"IMAP_2_HOST\",\n    \"portVar\": \"IMAP_2_PORT\",\n    \"ssl\": false,\n    \"startTls\": true,\n    \"allowUnauthorizedCerts\": true,\n    \"userVar\": \"IMAP_2_USER\",\n    \"passwordVar\": \"IMAP_2_PASSWORD\",\n    \"sourceMailboxes\": [\n      \"INBOX\"\n    ],\n    \"labelPrefix\": \"Labels\",\n    \"stateLabel\": \"Classified\"\n  }\n]",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      }
    },
    {
      "id": "eb8663f6-c55f-4779-a7fd-3f99d9be0403",
      "name": "Get next 50 unclassified emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -250,
        80
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const net = require('net');\nconst tls = require('tls');\n\nclass ImapClient {\n  constructor(config) {\n    this.host = config.host;\n    this.port = config.port;\n    this.ssl = config.ssl;\n    this.startTls = config.startTls;\n    this.allowUnauthorizedCerts = config.allowUnauthorizedCerts;\n    this.socket = null;\n    this.buffer = '';\n    this.waiters = [];\n    this.tagCounter = 0;\n  }\n\n  attachSocket(socket) {\n    this.socket = socket;\n    this.socket.setEncoding('binary');\n    this.socket.on('data', (chunk) => {\n      this.buffer += chunk;\n      this.flushWaiters();\n    });\n    this.socket.on('error', (error) => {\n      for (const waiter of this.waiters.splice(0)) waiter.reject(error);\n    });\n  }\n\n  flushWaiters() {\n    for (let index = 0; index < this.waiters.length; index += 1) {\n      const waiter = this.waiters[index];\n      let result;\n      try {\n        result = waiter.tryRead(this.buffer);\n      } catch (error) {\n        clearTimeout(waiter.timer);\n        this.waiters.splice(index, 1);\n        waiter.reject(error);\n        index -= 1;\n        continue;\n      }\n      if (!result) continue;\n      clearTimeout(waiter.timer);\n      this.buffer = this.buffer.slice(result.consumed);\n      this.waiters.splice(index, 1);\n      waiter.resolve(result.value);\n      index -= 1;\n    }\n  }\n\n  readWith(tryRead, timeoutMs = 30000) {\n    return new Promise((resolve, reject) => {\n      const waiter = {\n        tryRead,\n        resolve,\n        reject,\n        timer: setTimeout(() => {\n          const idx = this.waiters.indexOf(waiter);\n          if (idx >= 0) this.waiters.splice(idx, 1);\n          reject(new Error('Timed out waiting for IMAP response'));\n        }, timeoutMs),\n      };\n      this.waiters.push(waiter);\n      this.flushWaiters();\n    });\n  }\n\n  readLine() {\n    return this.readWith((buffer) => {\n      const end = buffer.indexOf('\\r\\n');\n      if (end < 0) return null;\n      return { value: buffer.slice(0, end), consumed: end + 2 };\n    });\n  }\n\n  tlsOptions(options) {\n    const tlsOptions = {\n      ...options,\n      rejectUnauthorized: !this.allowUnauthorizedCerts,\n    };\n    if (!net.isIP(this.host)) {\n      tlsOptions.servername = this.host;\n    }\n    return tlsOptions;\n  }\n\n  async connect() {\n    const socket = this.ssl\n      ? tls.connect(this.tlsOptions({\n          host: this.host,\n          port: this.port,\n        }))\n      : net.connect({ host: this.host, port: this.port });\n\n    this.attachSocket(socket);\n    await new Promise((resolve, reject) => {\n      socket.once('connect', resolve);\n      socket.once('secureConnect', resolve);\n      socket.once('error', reject);\n    });\n    await this.readLine();\n\n    if (!this.ssl && this.startTls) {\n      await this.command('STARTTLS');\n      this.socket.removeAllListeners('data');\n      this.socket = tls.connect(this.tlsOptions({\n        socket: this.socket,\n      }));\n      this.attachSocket(this.socket);\n      await new Promise((resolve, reject) => {\n        this.socket.once('secureConnect', resolve);\n        this.socket.once('error', reject);\n      });\n    }\n  }\n\n  nextTag() {\n    this.tagCounter += 1;\n    return `A${String(this.tagCounter).padStart(4, '0')}`;\n  }\n\n  command(commandText, timeoutMs = 60000) {\n    const tag = this.nextTag();\n    this.socket.write(`${tag} ${commandText}\\r\\n`, 'binary');\n    const pattern = new RegExp(`(^|\\\\r\\\\n)${tag} (OK|NO|BAD)[^\\\\r\\\\n]*(\\\\r\\\\n|$)`);\n    return this.readWith((buffer) => {\n      const match = pattern.exec(buffer);\n      if (!match) return null;\n      const end = match.index + match[0].length;\n      const response = buffer.slice(0, end);\n      if (match[2] !== 'OK') throw new Error(`IMAP ${commandText} failed: ${response}`);\n      return { value: response, consumed: end };\n    }, timeoutMs);\n  }\n\n  async login(username, password) {\n    await this.command(`LOGIN ${quoteString(username)} ${quoteString(password)}`);\n  }\n\n  async select(mailbox) {\n    await this.command(`SELECT ${quoteString(mailbox)}`);\n  }\n\n  async mailboxExists(mailbox) {\n    const response = await this.command(`LIST \"\" ${quoteString(mailbox)}`);\n    return /\\* LIST /i.test(response);\n  }\n\n  async searchAll(mailbox) {\n    await this.select(mailbox);\n    const response = await this.command('UID SEARCH ALL');\n    return parseSearchResponse(response);\n  }\n\n  async searchMessageId(mailbox, messageId) {\n    await this.select(mailbox);\n    const response = await this.command(`UID SEARCH HEADER Message-ID ${quoteString(messageId)}`);\n    return parseSearchResponse(response);\n  }\n\n  async fetchRaw(uid, mailbox) {\n    await this.select(mailbox);\n    const response = await this.command(`UID FETCH ${uid} (BODY.PEEK[])`, 120000);\n    return firstLiteral(response);\n  }\n\n  async logout() {\n    try {\n      await this.command('LOGOUT', 10000);\n    } finally {\n      this.socket?.end();\n    }\n  }\n}\n\nfunction quoteString(value) {\n  return `\"${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"`;\n}\n\nfunction parseSearchResponse(response) {\n  const match = response.match(/\\* SEARCH([^\\r\\n]*)/i);\n  if (!match) return [];\n  return match[1].trim().split(/\\s+/).filter(Boolean);\n}\n\nfunction firstLiteral(response) {\n  const match = response.match(/\\{(\\d+)\\}\\r\\n/);\n  if (!match) throw new Error('IMAP FETCH response did not include a message literal');\n  const start = match.index + match[0].length;\n  const length = Number(match[1]);\n  return response.slice(start, start + length);\n}\n\nfunction parseHeaders(rawHeaders) {\n  const headers = {};\n  const unfolded = rawHeaders.replace(/\\r?\\n[ \\t]+/g, ' ');\n  for (const line of unfolded.split(/\\r?\\n/)) {\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const key = line.slice(0, idx).trim().toLowerCase();\n    const value = line.slice(idx + 1).trim();\n    if (!headers[key]) headers[key] = value;\n  }\n  return headers;\n}\n\nfunction decodeEncodedWords(value) {\n  return String(value || '').replace(/=\\?([^?]+)\\?([bqBQ])\\?([^?]*)\\?=/g, (_match, charset, encoding, text) => {\n    try {\n      const normalized = encoding.toUpperCase() === 'B'\n        ? Buffer.from(text.replace(/\\s+/g, ''), 'base64')\n        : Buffer.from(text.replace(/_/g, ' ').replace(/=([a-fA-F0-9]{2})/g, (_, hex) => String.fromCharCode(parseInt(hex, 16))), 'binary');\n      return normalized.toString(/utf-?8/i.test(charset) ? 'utf8' : 'latin1');\n    } catch {\n      return text;\n    }\n  });\n}\n\nfunction senderParts(header) {\n  const decoded = decodeEncodedWords(header || '');\n  const match = decoded.match(/^(.*?)\\s*<([^>]+)>$/);\n  if (match) {\n    return {\n      from: decoded,\n      sender_name: match[1].replace(/^\"|\"$/g, '').trim(),\n      sender_email: match[2].trim(),\n    };\n  }\n  return {\n    from: decoded,\n    sender_name: '',\n    sender_email: decoded.includes('@') ? decoded.trim() : '',\n  };\n}\n\nfunction recipientParts(header) {\n  const decoded = decodeEncodedWords(header || '');\n  const primary = decoded.split(/,(?=(?:[^\"]*\"[^\"]*\")*[^\"]*$)/)[0]?.trim() || decoded;\n  const match = primary.match(/^(.*?)\\s*<([^>]+)>$/);\n  if (match) {\n    const email = match[2].trim();\n    return {\n      to: decoded,\n      recipient: email,\n      recipient_name: match[1].replace(/^\"|\"$/g, '').trim(),\n      recipient_email: email,\n    };\n  }\n  const email = primary.includes('@') ? primary.trim() : '';\n  return {\n    to: decoded,\n    recipient: email || decoded,\n    recipient_name: '',\n    recipient_email: email,\n  };\n}\n\nfunction decodeQuotedPrintable(value) {\n  return String(value || '')\n    .replace(/=\\r?\\n/g, '')\n    .replace(/=([a-fA-F0-9]{2})/g, (_match, hex) => String.fromCharCode(parseInt(hex, 16)));\n}\n\nfunction decodeBody(body, headers) {\n  const encoding = String(headers['content-transfer-encoding'] || '').toLowerCase();\n  if (encoding === 'base64') {\n    return Buffer.from(String(body || '').replace(/\\s+/g, ''), 'base64').toString('utf8');\n  }\n  if (encoding === 'quoted-printable') {\n    return Buffer.from(decodeQuotedPrintable(body), 'binary').toString('utf8');\n  }\n  return String(body || '');\n}\n\nfunction stripHtml(value) {\n  return String(value || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction splitRawMessage(raw) {\n  const delimiter = raw.includes('\\r\\n\\r\\n') ? '\\r\\n\\r\\n' : '\\n\\n';\n  const idx = raw.indexOf(delimiter);\n  if (idx < 0) return { headersRaw: raw, bodyRaw: '' };\n  return {\n    headersRaw: raw.slice(0, idx),\n    bodyRaw: raw.slice(idx + delimiter.length),\n  };\n}\n\nfunction messageBody(raw, headers) {\n  const bodyRaw = splitRawMessage(raw).bodyRaw;\n  const contentType = String(headers['content-type'] || '').toLowerCase();\n  const boundary = /boundary=\"?([^\";]+)\"?/i.exec(headers['content-type'] || '')?.[1];\n\n  if (boundary) {\n    const parts = bodyRaw.split(`--${boundary}`);\n    let htmlFallback = '';\n    for (const part of parts) {\n      const split = splitRawMessage(part.trim());\n      const partHeaders = parseHeaders(split.headersRaw);\n      const partType = String(partHeaders['content-type'] || '').toLowerCase();\n      if (/attachment/i.test(partHeaders['content-disposition'] || '')) continue;\n      const decoded = decodeBody(split.bodyRaw, partHeaders);\n      if (partType.includes('text/plain') && decoded.trim()) return decoded.trim();\n      if (partType.includes('text/html') && !htmlFallback) htmlFallback = stripHtml(decoded);\n    }\n    return htmlFallback;\n  }\n\n  const decoded = decodeBody(bodyRaw, headers);\n  return contentType.includes('text/html') ? stripHtml(decoded) : decoded.trim();\n}\n\nfunction summaryFromRaw(uid, raw, config) {\n  const split = splitRawMessage(raw);\n  const headers = parseHeaders(split.headersRaw);\n  const sender = senderParts(headers.from || '');\n  const recipient = recipientParts(headers.to || headers['delivered-to'] || headers['x-original-to'] || '');\n  const subject = decodeEncodedWords(headers.subject || '');\n  const body = messageBody(raw, headers).replace(/\\s+/g, ' ').trim().slice(0, 4000);\n\n  return {\n    uid: String(uid),\n    message_id: headers['message-id'] || '',\n    ...sender,\n    ...recipient,\n    subject,\n    email_subject: subject,\n    date: headers.date || '',\n    body_preview: body,\n    email_body: body,\n    sourceFlow: 'bulk',\n    runMode: 'apply_labels',\n    credentialPairId: config.id,\n    credentialPair: publicCredentialPair(config),\n    sourceMailbox: config.sourceMailbox,\n    labelPrefix: config.labelPrefix,\n    stateLabel: config.stateLabel,\n    dryRun: config.dryRun,\n    imapHost: config.host,\n    imapPort: config.port,\n    imapSsl: config.ssl,\n    imapStartTls: config.startTls,\n  };\n}\n\nfunction configValue(source, key, fallback) {\n  const value = source[key];\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nfunction boolValue(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n}\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed)) {\n    throw new Error(`${description} must be a number`);\n  }\n  return parsed;\n}\n\nfunction envValue(name) {\n  try {\n    if (typeof $vars !== 'undefined' && $vars?.[name]) return $vars[name];\n  } catch {}\n  try {\n    if (typeof vars !== 'undefined' && vars?.[name]) return vars[name];\n  } catch {}\n  try {\n    if (typeof $env !== 'undefined' && $env?.[name]) return $env[name];\n  } catch {}\n  try {\n    if (typeof env !== 'undefined' && env?.[name]) return env[name];\n  } catch {}\n  return '';\n}\n\nfunction listValue(value, fallback) {\n  if (Array.isArray(value)) return value.map((item) => String(item).trim()).filter(Boolean);\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (!trimmed) return fallback;\n    if (trimmed.startsWith('[')) {\n      const parsed = JSON.parse(trimmed);\n      if (!Array.isArray(parsed)) throw new Error('Expected sourceMailboxes JSON to be an array');\n      return parsed.map((item) => String(item).trim()).filter(Boolean);\n    }\n    return trimmed.split(',').map((item) => item.trim()).filter(Boolean);\n  }\n  return fallback;\n}\n\nfunction parseCredentialPairs(value) {\n  if (Array.isArray(value)) return value;\n  if (typeof value === 'string' && value.trim()) {\n    const parsed = JSON.parse(value);\n    if (!Array.isArray(parsed)) throw new Error('imapPairsJson must contain a JSON array');\n    return parsed;\n  }\n  return [];\n}\n\nfunction normalizeCredentialPair(rawPair, index, defaults) {\n  const pair = rawPair && typeof rawPair === 'object' ? rawPair : {};\n  const id = String(configValue(pair, 'id', `imap-${index + 1}`));\n  const hostVar = String(configValue(pair, 'hostVar', defaults.hostVar));\n  const portVar = String(configValue(pair, 'portVar', defaults.portVar));\n  const host = String(envValue(hostVar) || configValue(pair, 'host', defaults.host));\n  const port = numberValue(\n    envValue(portVar) || configValue(pair, 'port', defaults.port),\n    defaults.port,\n    `Credential pair ${id} port`,\n  );\n  const sourceMailboxes = listValue(\n    pair.sourceMailboxes ?? pair.sourceMailbox,\n    [defaults.sourceMailbox],\n  );\n\n  if (sourceMailboxes.length === 0) {\n    throw new Error(`Credential pair ${id} must include at least one source mailbox`);\n  }\n\n  return {\n    id,\n    host,\n    port,\n    hostVar,\n    portVar,\n    ssl: boolValue(pair.ssl ?? pair.imapSsl, defaults.ssl),\n    startTls: boolValue(pair.startTls ?? pair.imapStartTls, defaults.startTls),\n    allowUnauthorizedCerts: boolValue(\n      pair.allowUnauthorizedCerts,\n      defaults.allowUnauthorizedCerts,\n    ),\n    userVar: String(configValue(pair, 'userVar', defaults.userVar)),\n    passwordVar: String(configValue(pair, 'passwordVar', defaults.passwordVar)),\n    sourceMailboxes,\n    labelPrefix: String(configValue(pair, 'labelPrefix', defaults.labelPrefix)),\n    stateLabel: String(configValue(pair, 'stateLabel', defaults.stateLabel)),\n    dryRun: defaults.dryRun,\n  };\n}\n\nfunction credentialPairsFromConfig(inputConfig, defaults) {\n  const configuredPairs = parseCredentialPairs(\n    inputConfig.imapPairs ?? inputConfig.imapPairsJson ?? inputConfig.credentialPairs ?? inputConfig.credentialPairsJson,\n  );\n\n  const pairs = configuredPairs.length > 0\n    ? configuredPairs\n    : [{\n        id: 'imap-1',\n        host: defaults.host,\n        port: defaults.port,\n        hostVar: defaults.hostVar,\n        portVar: defaults.portVar,\n        ssl: defaults.ssl,\n        startTls: defaults.startTls,\n        allowUnauthorizedCerts: defaults.allowUnauthorizedCerts,\n        userVar: defaults.userVar,\n        passwordVar: defaults.passwordVar,\n        sourceMailboxes: [defaults.sourceMailbox],\n        labelPrefix: defaults.labelPrefix,\n        stateLabel: defaults.stateLabel,\n      }];\n\n  return pairs.map((pair, index) => normalizeCredentialPair(pair, index, defaults));\n}\n\nfunction publicCredentialPair(pair) {\n  return {\n    id: pair.id,\n    host: pair.host,\n    port: pair.port,\n    hostVar: pair.hostVar,\n    portVar: pair.portVar,\n    ssl: pair.ssl,\n    startTls: pair.startTls,\n    allowUnauthorizedCerts: pair.allowUnauthorizedCerts,\n    userVar: pair.userVar,\n    passwordVar: pair.passwordVar,\n    sourceMailboxes: pair.sourceMailboxes,\n    labelPrefix: pair.labelPrefix,\n    stateLabel: pair.stateLabel,\n  };\n}\n\nlet inputConfig = {};\ntry {\n  inputConfig = $('Configure Proton IMAP batch').first().json;\n} catch {\n  inputConfig = $input.first()?.json ?? {};\n}\n\nconst runIndex = typeof $runIndex === 'number' ? $runIndex : 0;\nconst defaults = {\n  host: String(configValue(inputConfig, 'imapHost', '192.168.3.200')),\n  port: numberValue(configValue(inputConfig, 'imapPort', 1143), 1143, 'Default IMAP port'),\n  hostVar: String(configValue(inputConfig, 'imapHostVar', 'IMAP_HOST')),\n  portVar: String(configValue(inputConfig, 'imapPortVar', 'IMAP_PORT')),\n  ssl: boolValue(inputConfig.imapSsl, false),\n  startTls: boolValue(inputConfig.imapStartTls, true),\n  allowUnauthorizedCerts: boolValue(inputConfig.allowUnauthorizedCerts, true),\n  sourceMailbox: String(configValue(inputConfig, 'sourceMailbox', 'INBOX')),\n  labelPrefix: String(configValue(inputConfig, 'labelPrefix', 'Labels')),\n  stateLabel: String(configValue(inputConfig, 'stateLabel', 'Classified')),\n  userVar: String(configValue(inputConfig, 'userVar', 'IMAP_USER')),\n  passwordVar: String(configValue(inputConfig, 'passwordVar', 'IMAP_PASSWORD')),\n  batchLimit: Number(configValue(inputConfig, 'batchLimit', 50)),\n  dryRun: boolValue(inputConfig.dryRun, false),\n};\n\nif (defaults.dryRun && runIndex > 0) {\n  return [{ json: { emails: [], total_emails: 0, stopped_reason: 'dry_run_single_batch' } }];\n}\n\nconst credentialPairs = credentialPairsFromConfig(inputConfig, defaults);\nconst emails = [];\nconst warnings = [];\n\nfor (const pair of credentialPairs) {\n  if (emails.length >= defaults.batchLimit) break;\n\n  const username = envValue(pair.userVar);\n  const password = envValue(pair.passwordVar);\n  if (!username || !password) {\n    throw new Error(`Credential pair ${pair.id} requires n8n variables ${pair.userVar} and ${pair.passwordVar}.`);\n  }\n\n  const stateMailbox = `${pair.labelPrefix}/${pair.stateLabel}`;\n  const client = new ImapClient(pair);\n\n  try {\n    await client.connect();\n    await client.login(username, password);\n\n    const stateMailboxExists = await client.mailboxExists(stateMailbox);\n    if (!stateMailboxExists && !pair.dryRun) {\n      throw new Error(`Required Proton label mailbox does not exist for credential pair ${pair.id}: ${stateMailbox}`);\n    }\n    if (!stateMailboxExists) {\n      warnings.push(`State mailbox not found during dry-run for credential pair ${pair.id}: ${stateMailbox}`);\n    }\n\n    for (const sourceMailbox of pair.sourceMailboxes) {\n      if (emails.length >= defaults.batchLimit) break;\n\n      const mailboxConfig = { ...pair, sourceMailbox, dryRun: defaults.dryRun };\n      const uids = (await client.searchAll(sourceMailbox)).reverse();\n      for (const uid of uids) {\n        const raw = await client.fetchRaw(uid, sourceMailbox);\n        const summary = summaryFromRaw(uid, raw, mailboxConfig);\n        if (stateMailboxExists && summary.message_id) {\n          const matches = await client.searchMessageId(stateMailbox, summary.message_id);\n          if (matches.length > 0) continue;\n        }\n        emails.push(summary);\n        if (emails.length >= defaults.batchLimit) break;\n      }\n    }\n  } finally {\n    await client.logout().catch(() => {});\n  }\n}\n\nreturn [{\n  json: {\n    emails,\n    warnings,\n    total_emails: emails.length,\n    stopped_reason: emails.length ? 'batch_ready' : 'inbox_fully_classified',\n  },\n}];\n"
      }
    },
    {
      "id": "97c522f1-3035-4842-b8ce-330d06a05f13",
      "name": "Expand fetched emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        80
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const payload = $input.first()?.json ?? {};\n\nif (Array.isArray(payload.errors) && payload.errors.length > 0) {\n  throw new Error(payload.errors.map((item) => item.error).join(\"; \"));\n}\n\nreturn (payload.emails ?? []).map((email) => ({\n  json: {\n    ...email,\n    sourceFlow: \"bulk\",\n    runMode: \"apply_labels\",\n    labelPrefix: email.labelPrefix || \"Labels\",\n    stateLabel: email.stateLabel || \"Classified\",\n  },\n}));"
      }
    },
    {
      "id": "3fab3800-8111-41ef-bf87-c1eeed5082b0",
      "name": "Loop Over Emails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        290,
        80
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "nothing",
        "format": "simple",
        "downloadAttachments": false,
        "options": {
          "trackLastMessageId": true,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "b32c0521-d4ef-411c-b4c8-f6dd5e08bb5b",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -760,
        640
      ]
    },
    {
      "id": "31a09aa8-a45b-4d90-b43c-8dc9808e3d9d",
      "name": "Normalize trigger email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -490,
        640
      ],
      "parameters": {
        "jsCode": "function parseSender(value) {\n  if (Array.isArray(value)) return parseSender(value[0]);\n  if (value && typeof value === 'object') {\n    if (Array.isArray(value.value)) return parseSender(value.value[0]);\n    if (Array.isArray(value.addresses)) return parseSender(value.addresses[0]);\n\n    const email = value.email || value.address || value.mail || '';\n    const name = value.name || value.displayName || '';\n    const header = String(value.value || value.text || (name || email ? `${name} <${email}>` : ''));\n    return { header, name, email };\n  }\n\n  const header = String(value || '');\n  const match = header.match(/^(.*?)\\s*<([^>]+)>$/);\n  if (match) {\n    return { header, name: match[1].replace(/^\"|\"$/g, '').trim(), email: match[2].trim() };\n  }\n  return { header, name: '', email: header.includes('@') ? header.trim() : '' };\n}\n\nconst sender = parseSender($json.from ?? $json.sender ?? $json.sender_email ?? $json.senderEmail);\nconst recipient = parseSender(\n  $json.to\n    ?? $json.recipient\n    ?? $json.recipients\n    ?? $json.recipient_email\n    ?? $json.recipientEmail\n    ?? $json.to_email\n    ?? $json.toEmail\n    ?? $json.deliveredTo\n    ?? $json['delivered-to'],\n);\nconst subject = String($json.subject ?? $json.email_subject ?? $json.emailSubject ?? '');\nconst body = String($json.text ?? $json.textPlain ?? $json.body ?? $json.email_body ?? $json.emailBody ?? '');\n\nreturn [{\n  json: {\n    ...$json,\n    sourceFlow: 'trigger',\n    runMode: 'apply_labels',\n    uid: String($json.uid ?? $json.imapUid ?? $json.messageUid ?? ''),\n    message_id: String($json.messageId ?? $json.message_id ?? $json['message-id'] ?? ''),\n    from: sender.header,\n    sender_name: sender.name,\n    sender_email: sender.email,\n    to: recipient.header,\n    recipient: recipient.email || recipient.header,\n    recipient_name: recipient.name,\n    recipient_email: recipient.email,\n    subject,\n    email_subject: subject,\n    body_preview: body.slice(0, 4000),\n    email_body: body.slice(0, 4000),\n    sourceMailbox: 'INBOX',\n    labelPrefix: 'Labels',\n    stateLabel: 'Classified',\n    dryRun: false,\n    imapHost: '192.168.3.200',\n    imapPort: 1143,\n    imapSsl: false,\n    imapStartTls: true,\n  },\n}];\n"
      }
    },
    {
      "id": "dd6ee788-c8eb-4788-a8eb-0d03c86150ad",
      "name": "Build classification prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        590,
        360
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "system-prompt",
              "name": "systemPrompt",
              "value": "You are an email triage assistant. Given one email, assign **all** labels that apply from the fixed allowed list below, using the exact spelling and punctuation. No other label is permitted.\n\n## Allowed labels\n- `Invoice` — receipts and invoices for discretionary spending\n- `Purchase` — confirmation of something ordered or purchased\n- `Bill` — recurring obligations like rent, electricity, internet, health insurance\n- `Payment` — payslips from employers\n- `Marketing` — promotional emails from brands/bands trying to sell something\n- `Cold email` — someone (e.g. a recruiter) reaching out to me directly and unsolicited\n- `Important` — something that sounds genuinely important or urgent\n- `Awaiting reply` — a message that needs a response from me\n- `Travel` — itineraries, hotel/hostel bookings, air/bus/train fares or tickets\n- `Ticket` — tickets to music festivals, bands, concerts, etc.\n- `Infrastructure` — metric updates, error reporting from services or devices\n- `Hustle` — correspondence with people or businesses engaging me for professional work\n\n## Schema\nOutput **only** JSON matching this shape, nothing else:\n\n```json\n{\n  \"labels\": [\n    { \"label\": string, \"confidence\": number }\n  ],\n  \"reason\": string\n}\n```\n\n- `labels`: an array of every applicable label. Each `label` must exactly match one from the list (spelling, spacing, capitalization). Each `confidence` must be `>= 0.75`.\n- Include a label only if confidence `>= 0.75`. Multiple labels are expected when an email genuinely fits more than one category.\n- `reason`: one sentence justifying the chosen label(s).\n\n## Fallback\n- If no label reaches `0.75` confidence or the intent is unclear, output:\n```json\n  {\"labels\": [{\"label\": \"uncertain\", \"confidence\": <score less than 0.75>}], \"reason\": \"<what is ambiguous or missing>\"}\n```\n- If any instruction or format would be violated, output:\n```json\n  {\"labels\": [{\"label\": \"uncertain\", \"confidence\": 0.0}], \"reason\": \"format violation or instruction conflict\"}\n```\n\n## Rules\n- Base labels on content/intent. Apply every label that fits — do not pick a single \"winner\".\n- Overlap is normal: a purchased concert ticket can be `Purchase`, `Invoice`, and `Ticket`; a `Hustle` email can also be `Awaiting reply`.\n- No synonyms, no labels outside the list.\n\n## Few-shot examples (must match output exactly)\n\nEmail: \"Your receipt from Blue Bottle Coffee — $18.50 charged to your card.\"\n```json\n{\"labels\": [{\"label\": \"Invoice\", \"confidence\": 0.90}], \"reason\": \"Receipt for discretionary spending\"}\n```\n\nEmail: \"Order confirmed! Your new headphones are on the way. Invoice attached, $129.\"\n```json\n{\"labels\": [{\"label\": \"Purchase\", \"confidence\": 0.90}, {\"label\": \"Invoice\", \"confidence\": 0.82}], \"reason\": \"Order confirmation that also includes the invoice document\"}\n```\n\nEmail: \"Your electricity bill of $142.30 is due on the 15th.\"\n```json\n{\"labels\": [{\"label\": \"Bill\", \"confidence\": 0.95}], \"reason\": \"Recurring utility obligation\"}\n```\n\nEmail: \"Your payslip for May is now available to view.\"\n```json\n{\"labels\": [{\"label\": \"Payment\", \"confidence\": 0.96}], \"reason\": \"Payslip from employer\"}\n```\n\nEmail: \"Exclusive summer sale: 40% off all gear, limited time!\"\n```json\n{\"labels\": [{\"label\": \"Marketing\", \"confidence\": 0.99}], \"reason\": \"Promotional campaign content\"}\n```\n\nEmail: \"Hi, I'm a recruiter at Acme and your background caught my eye — open to chatting?\"\n```json\n{\"labels\": [{\"label\": \"Cold email\", \"confidence\": 0.87}], \"reason\": \"Unsolicited direct outreach from a recruiter\"}\n```\n\nEmail: \"URGENT: Action required on your account within 24 hours to avoid suspension.\"\n```json\n{\"labels\": [{\"label\": \"Important\", \"confidence\": 0.85}], \"reason\": \"Urgent matter requiring prompt attention\"}\n```\n\nEmail: \"Just checking if you had a chance to look at my proposal.\"\n```json\n{\"labels\": [{\"label\": \"Awaiting reply\", \"confidence\": 0.80}], \"reason\": \"Follow-up seeking a response from me\"}\n```\n\nEmail: \"Your flight to Tokyo is confirmed — departing 14 June, 9:40am, seat 22A. Receipt $612 attached.\"\n```json\n{\"labels\": [{\"label\": \"Travel\", \"confidence\": 0.94}, {\"label\": \"Invoice\", \"confidence\": 0.80}], \"reason\": \"Flight itinerary that also includes the fare receipt\"}\n```\n\nEmail: \"Your tickets to the Tame Impala show are attached. Order #99812, $180 charged.\"\n```json\n{\"labels\": [{\"label\": \"Ticket\", \"confidence\": 0.93}, {\"label\": \"Purchase\", \"confidence\": 0.85}, {\"label\": \"Invoice\", \"confidence\": 0.78}], \"reason\": \"Concert tickets that are also a purchase with a receipt\"}\n```\n\nEmail: \"Alert: API error rate exceeded 5% on prod-server-2 in the last 10 minutes.\"\n```json\n{\"labels\": [{\"label\": \"Infrastructure\", \"confidence\": 0.92}], \"reason\": \"Error reporting from a service\"}\n```\n\nEmail: \"Following up on the 3-day shoot — can you confirm the rates work for you?\"\n```json\n{\"labels\": [{\"label\": \"Hustle\", \"confidence\": 0.86}, {\"label\": \"Awaiting reply\", \"confidence\": 0.84}], \"reason\": \"Business engaging me for professional work and awaiting my response\"}\n```",
              "type": "string"
            },
            {
              "id": "user-prompt",
              "name": "userPrompt",
              "value": "={{ \"From: \" + ($json.sender_email || \"\") + \"\\nName: \" + ($json.sender_name || \"\") + \"\\nSubject: \" + ($json.email_subject || \"\") + \"\\nEmail Content:\\n\\n\" + ($json.email_body || \"\") }}",
              "type": "string"
            },
            {
              "id": "label-prefix-build",
              "name": "labelPrefix",
              "value": "={{ $json.labelPrefix || \"Labels\" }}",
              "type": "string"
            },
            {
              "id": "state-label-build",
              "name": "stateLabel",
              "value": "={{ $json.stateLabel || \"Classified\" }}",
              "type": "string"
            },
            {
              "id": "run-mode-build",
              "name": "runMode",
              "value": "apply_labels",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      }
    },
    {
      "id": "a66cce86-e356-4917-8f8f-974a66ea179b",
      "name": "Classify with Ollama",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        860,
        360
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        },
        "hasOutputParser": true
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "id": "481655d4-5465-4992-bc3d-c3ee7d5e7f06",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        860,
        620
      ],
      "parameters": {
        "model": "odytrice/gemma4-26b:4090",
        "baseUrl": "http://192.168.1.100:11434",
        "options": {
          "temperature": 0
        }
      }
    },
    {
      "id": "5b0d23a5-a807-4c94-801e-458bb28007a5",
      "name": "Classification JSON Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1080,
        620
      ],
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"labels\":[{\"label\":\"Invoice\",\"confidence\":0.9},{\"label\":\"Purchase\",\"confidence\":0.8}],\"reason\":\"One sentence justification\"}"
      }
    },
    {
      "id": "e74e0235-f9e9-43e9-bda8-01f098402e13",
      "name": "Prepare Proton label targets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        360
      ],
      "parameters": {
        "jsCode": "const source = $('Build classification prompt').item.json;\nconst allowed = [\"Invoice\",\"Purchase\",\"Bill\",\"Payment\",\"Marketing\",\"Cold email\",\"Important\",\"Awaiting reply\",\"Travel\",\"Ticket\",\"Infrastructure\",\"Hustle\"];\n\nfunction parseAiOutput(value) {\n  if (value && typeof value === 'object' && 'output' in value && Object.keys(value).length === 1) {\n    return parseAiOutput(value.output);\n  }\n  if (typeof value === 'string') {\n    return JSON.parse(value);\n  }\n  return value;\n}\n\nlet parsed;\ntry {\n  parsed = parseAiOutput($json.output ?? $json);\n} catch (error) {\n  parsed = { labels: [{ label: 'uncertain', confidence: 0 }], reason: 'format violation or instruction conflict' };\n}\n\nconst accepted = [];\nfor (const item of Array.isArray(parsed?.labels) ? parsed.labels : []) {\n  const label = item?.label;\n  const confidence = Math.max(0, Math.min(1, Number(item?.confidence ?? 0)));\n  if (!allowed.includes(label) || confidence < 0.75) continue;\n  if (!accepted.some((existing) => existing.label === label)) {\n    accepted.push({ label, confidence });\n  }\n}\n\nconst reason = String(parsed?.reason ?? (accepted.length ? 'Classifier returned matching labels' : 'No label reached confidence threshold')).slice(0, 240);\nconst labelPrefix = source.labelPrefix || 'Labels';\nconst stateLabel = source.stateLabel || 'Classified';\nconst labelMailboxes = accepted.map((item) => `${labelPrefix}/${item.label}`);\nconst stateMailbox = `${labelPrefix}/${stateLabel}`;\nconst targetMailboxes = [...labelMailboxes];\nif (!targetMailboxes.includes(stateMailbox)) targetMailboxes.push(stateMailbox);\n\nreturn [{\n  json: {\n    ...source,\n    runMode: 'apply_labels',\n    classification: {\n      labels: accepted.length ? accepted : [{ label: 'uncertain', confidence: Number(parsed?.labels?.[0]?.confidence ?? 0) }],\n      reason,\n    },\n    labels: accepted,\n    labelMailboxes,\n    stateMailbox,\n    targetMailboxes,\n  },\n}];"
      }
    },
    {
      "id": "473e884b-78f4-4bd7-b3a4-445cb29001bb",
      "name": "From bulk loop?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.sourceFlow }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "bulk"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4a32359e-f5d0-4de0-a513-71282d230003",
      "name": "Apply Proton labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        260
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const net = require('net');\nconst tls = require('tls');\n\nclass ImapClient {\n  constructor(config) {\n    this.host = config.host;\n    this.port = config.port;\n    this.ssl = config.ssl;\n    this.startTls = config.startTls;\n    this.allowUnauthorizedCerts = config.allowUnauthorizedCerts;\n    this.socket = null;\n    this.buffer = '';\n    this.waiters = [];\n    this.tagCounter = 0;\n  }\n\n  attachSocket(socket) {\n    this.socket = socket;\n    this.socket.setEncoding('binary');\n    this.socket.on('data', (chunk) => {\n      this.buffer += chunk;\n      this.flushWaiters();\n    });\n    this.socket.on('error', (error) => {\n      for (const waiter of this.waiters.splice(0)) waiter.reject(error);\n    });\n  }\n\n  flushWaiters() {\n    for (let index = 0; index < this.waiters.length; index += 1) {\n      const waiter = this.waiters[index];\n      let result;\n      try {\n        result = waiter.tryRead(this.buffer);\n      } catch (error) {\n        clearTimeout(waiter.timer);\n        this.waiters.splice(index, 1);\n        waiter.reject(error);\n        index -= 1;\n        continue;\n      }\n      if (!result) continue;\n      clearTimeout(waiter.timer);\n      this.buffer = this.buffer.slice(result.consumed);\n      this.waiters.splice(index, 1);\n      waiter.resolve(result.value);\n      index -= 1;\n    }\n  }\n\n  readWith(tryRead, timeoutMs = 30000) {\n    return new Promise((resolve, reject) => {\n      const waiter = {\n        tryRead,\n        resolve,\n        reject,\n        timer: setTimeout(() => {\n          const idx = this.waiters.indexOf(waiter);\n          if (idx >= 0) this.waiters.splice(idx, 1);\n          reject(new Error('Timed out waiting for IMAP response'));\n        }, timeoutMs),\n      };\n      this.waiters.push(waiter);\n      this.flushWaiters();\n    });\n  }\n\n  readLine() {\n    return this.readWith((buffer) => {\n      const end = buffer.indexOf('\\r\\n');\n      if (end < 0) return null;\n      return { value: buffer.slice(0, end), consumed: end + 2 };\n    });\n  }\n\n  tlsOptions(options) {\n    const tlsOptions = {\n      ...options,\n      rejectUnauthorized: !this.allowUnauthorizedCerts,\n    };\n    if (!net.isIP(this.host)) {\n      tlsOptions.servername = this.host;\n    }\n    return tlsOptions;\n  }\n\n  async connect() {\n    const socket = this.ssl\n      ? tls.connect(this.tlsOptions({\n          host: this.host,\n          port: this.port,\n        }))\n      : net.connect({ host: this.host, port: this.port });\n\n    this.attachSocket(socket);\n    await new Promise((resolve, reject) => {\n      socket.once('connect', resolve);\n      socket.once('secureConnect', resolve);\n      socket.once('error', reject);\n    });\n    await this.readLine();\n\n    if (!this.ssl && this.startTls) {\n      await this.command('STARTTLS');\n      this.socket.removeAllListeners('data');\n      this.socket = tls.connect(this.tlsOptions({\n        socket: this.socket,\n      }));\n      this.attachSocket(this.socket);\n      await new Promise((resolve, reject) => {\n        this.socket.once('secureConnect', resolve);\n        this.socket.once('error', reject);\n      });\n    }\n  }\n\n  nextTag() {\n    this.tagCounter += 1;\n    return `A${String(this.tagCounter).padStart(4, '0')}`;\n  }\n\n  command(commandText, timeoutMs = 60000) {\n    const tag = this.nextTag();\n    this.socket.write(`${tag} ${commandText}\\r\\n`, 'binary');\n    const pattern = new RegExp(`(^|\\\\r\\\\n)${tag} (OK|NO|BAD)[^\\\\r\\\\n]*(\\\\r\\\\n|$)`);\n    return this.readWith((buffer) => {\n      const match = pattern.exec(buffer);\n      if (!match) return null;\n      const end = match.index + match[0].length;\n      const response = buffer.slice(0, end);\n      if (match[2] !== 'OK') throw new Error(`IMAP ${commandText} failed: ${response}`);\n      return { value: response, consumed: end };\n    }, timeoutMs);\n  }\n\n  async login(username, password) {\n    await this.command(`LOGIN ${quoteString(username)} ${quoteString(password)}`);\n  }\n\n  async select(mailbox) {\n    await this.command(`SELECT ${quoteString(mailbox)}`);\n  }\n\n  async mailboxExists(mailbox) {\n    const response = await this.command(`LIST \"\" ${quoteString(mailbox)}`);\n    return /\\* LIST /i.test(response);\n  }\n\n  async searchMessageId(mailbox, messageId) {\n    await this.select(mailbox);\n    const response = await this.command(`UID SEARCH HEADER Message-ID ${quoteString(messageId)}`);\n    return parseSearchResponse(response);\n  }\n\n  async copyUid(uid, destination) {\n    await this.command(`UID COPY ${uid} ${quoteString(destination)}`, 120000);\n  }\n\n  async logout() {\n    try {\n      await this.command('LOGOUT', 10000);\n    } finally {\n      this.socket?.end();\n    }\n  }\n}\n\nfunction quoteString(value) {\n  return `\"${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"`;\n}\n\nfunction parseSearchResponse(response) {\n  const match = response.match(/\\* SEARCH([^\\r\\n]*)/i);\n  if (!match) return [];\n  return match[1].trim().split(/\\s+/).filter(Boolean);\n}\n\nfunction boolValue(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n}\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed)) {\n    throw new Error(`${description} must be a number`);\n  }\n  return parsed;\n}\n\nfunction configValue(source, key, fallback) {\n  const value = source[key];\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nfunction envValue(name) {\n  try {\n    if (typeof $vars !== 'undefined' && $vars?.[name]) return $vars[name];\n  } catch {}\n  try {\n    if (typeof vars !== 'undefined' && vars?.[name]) return vars[name];\n  } catch {}\n  try {\n    if (typeof $env !== 'undefined' && $env?.[name]) return $env[name];\n  } catch {}\n  try {\n    if (typeof env !== 'undefined' && env?.[name]) return env[name];\n  } catch {}\n  return '';\n}\n\nfunction normalizeCredentialPair(item) {\n  const pair = item.credentialPair && typeof item.credentialPair === 'object'\n    ? item.credentialPair\n    : {};\n  const id = String(configValue(pair, 'id', item.credentialPairId || 'imap-1'));\n  const hostVar = String(configValue(pair, 'hostVar', configValue(item, 'hostVar', 'IMAP_HOST')));\n  const portVar = String(configValue(pair, 'portVar', configValue(item, 'portVar', 'IMAP_PORT')));\n\n  return {\n    id,\n    host: String(envValue(hostVar) || configValue(pair, 'host', configValue(item, 'imapHost', '192.168.3.200'))),\n    port: numberValue(\n      envValue(portVar) || configValue(pair, 'port', configValue(item, 'imapPort', 1143)),\n      1143,\n      `Credential pair ${id} port`,\n    ),\n    hostVar,\n    portVar,\n    ssl: boolValue(pair.ssl ?? pair.imapSsl, boolValue(item.imapSsl, false)),\n    startTls: boolValue(pair.startTls ?? pair.imapStartTls, boolValue(item.imapStartTls, true)),\n    allowUnauthorizedCerts: boolValue(\n      pair.allowUnauthorizedCerts,\n      boolValue(item.allowUnauthorizedCerts, true),\n    ),\n    userVar: String(configValue(pair, 'userVar', configValue(item, 'userVar', 'IMAP_USER'))),\n    passwordVar: String(configValue(pair, 'passwordVar', configValue(item, 'passwordVar', 'IMAP_PASSWORD'))),\n    labelPrefix: String(configValue(pair, 'labelPrefix', configValue(item, 'labelPrefix', 'Labels'))),\n    stateLabel: String(configValue(pair, 'stateLabel', configValue(item, 'stateLabel', 'Classified'))),\n  };\n}\n\nconst item = $input.first()?.json ?? {};\nconst pair = normalizeCredentialPair(item);\nconst targetMailboxes = Array.isArray(item.targetMailboxes)\n  ? item.targetMailboxes\n  : [\n      ...(Array.isArray(item.labelMailboxes) ? item.labelMailboxes : []),\n      `${pair.labelPrefix}/${pair.stateLabel}`,\n    ];\n\nconst uniqueTargets = [...new Set(targetMailboxes.filter(Boolean))];\nconst dryRun = boolValue(item.dryRun, false);\n\nif (dryRun) {\n  return [{\n    json: {\n      ...item,\n      destination_actions: Object.fromEntries(uniqueTargets.map((target) => [target, 'would_apply_label'])),\n      source_action: 'would_keep_in_source',\n    },\n  }];\n}\n\nconst username = envValue(pair.userVar);\nconst password = envValue(pair.passwordVar);\nif (!username || !password) {\n  throw new Error(`Credential pair ${pair.id} requires n8n variables ${pair.userVar} and ${pair.passwordVar}.`);\n}\n\nconst config = {\n  host: envValue(pair.hostVar) || pair.host,\n  port: numberValue(envValue(pair.portVar) || pair.port, pair.port, `Credential pair ${pair.id} port`),\n  ssl: pair.ssl,\n  startTls: pair.startTls,\n  allowUnauthorizedCerts: pair.allowUnauthorizedCerts,\n};\n\nconst sourceMailbox = String(configValue(item, 'sourceMailbox', 'INBOX'));\nconst client = new ImapClient(config);\nconst destinationActions = {};\n\ntry {\n  await client.connect();\n  await client.login(username, password);\n\n  const missingMailboxes = [];\n  for (const mailbox of uniqueTargets) {\n    if (!(await client.mailboxExists(mailbox))) {\n      missingMailboxes.push(mailbox);\n    }\n  }\n\n  if (missingMailboxes.length > 0) {\n    return [{\n      json: {\n        ...item,\n        label_application_skipped: true,\n        missingMailboxes,\n        destination_actions: Object.fromEntries(\n          uniqueTargets.map((target) => [target, 'skipped_missing_mailbox']),\n        ),\n        source_action: 'kept_in_source',\n      },\n    }];\n  }\n\n  let uid = String(item.uid || '');\n  if (!uid && item.message_id) {\n    const matches = await client.searchMessageId(sourceMailbox, item.message_id);\n    uid = matches.at(-1) || '';\n  }\n  if (!uid) {\n    throw new Error('Email item did not include an IMAP UID or searchable Message-ID.');\n  }\n\n  await client.select(sourceMailbox);\n  for (const mailbox of uniqueTargets) {\n    await client.copyUid(uid, mailbox);\n    destinationActions[mailbox] = 'label_applied';\n  }\n} finally {\n  await client.logout().catch(() => {});\n}\n\nreturn [{\n  json: {\n    ...item,\n    destination_actions: destinationActions,\n    source_action: 'kept_in_source',\n  },\n}];\n"
      }
    },
    {
      "id": "5a19e21f-5668-4b05-bfa6-04ae73f79a0b",
      "name": "Apply Proton labels (trigger)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        520
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const net = require('net');\nconst tls = require('tls');\n\nclass ImapClient {\n  constructor(config) {\n    this.host = config.host;\n    this.port = config.port;\n    this.ssl = config.ssl;\n    this.startTls = config.startTls;\n    this.allowUnauthorizedCerts = config.allowUnauthorizedCerts;\n    this.socket = null;\n    this.buffer = '';\n    this.waiters = [];\n    this.tagCounter = 0;\n  }\n\n  attachSocket(socket) {\n    this.socket = socket;\n    this.socket.setEncoding('binary');\n    this.socket.on('data', (chunk) => {\n      this.buffer += chunk;\n      this.flushWaiters();\n    });\n    this.socket.on('error', (error) => {\n      for (const waiter of this.waiters.splice(0)) waiter.reject(error);\n    });\n  }\n\n  flushWaiters() {\n    for (let index = 0; index < this.waiters.length; index += 1) {\n      const waiter = this.waiters[index];\n      let result;\n      try {\n        result = waiter.tryRead(this.buffer);\n      } catch (error) {\n        clearTimeout(waiter.timer);\n        this.waiters.splice(index, 1);\n        waiter.reject(error);\n        index -= 1;\n        continue;\n      }\n      if (!result) continue;\n      clearTimeout(waiter.timer);\n      this.buffer = this.buffer.slice(result.consumed);\n      this.waiters.splice(index, 1);\n      waiter.resolve(result.value);\n      index -= 1;\n    }\n  }\n\n  readWith(tryRead, timeoutMs = 30000) {\n    return new Promise((resolve, reject) => {\n      const waiter = {\n        tryRead,\n        resolve,\n        reject,\n        timer: setTimeout(() => {\n          const idx = this.waiters.indexOf(waiter);\n          if (idx >= 0) this.waiters.splice(idx, 1);\n          reject(new Error('Timed out waiting for IMAP response'));\n        }, timeoutMs),\n      };\n      this.waiters.push(waiter);\n      this.flushWaiters();\n    });\n  }\n\n  readLine() {\n    return this.readWith((buffer) => {\n      const end = buffer.indexOf('\\r\\n');\n      if (end < 0) return null;\n      return { value: buffer.slice(0, end), consumed: end + 2 };\n    });\n  }\n\n  tlsOptions(options) {\n    const tlsOptions = {\n      ...options,\n      rejectUnauthorized: !this.allowUnauthorizedCerts,\n    };\n    if (!net.isIP(this.host)) {\n      tlsOptions.servername = this.host;\n    }\n    return tlsOptions;\n  }\n\n  async connect() {\n    const socket = this.ssl\n      ? tls.connect(this.tlsOptions({\n          host: this.host,\n          port: this.port,\n        }))\n      : net.connect({ host: this.host, port: this.port });\n\n    this.attachSocket(socket);\n    await new Promise((resolve, reject) => {\n      socket.once('connect', resolve);\n      socket.once('secureConnect', resolve);\n      socket.once('error', reject);\n    });\n    await this.readLine();\n\n    if (!this.ssl && this.startTls) {\n      await this.command('STARTTLS');\n      this.socket.removeAllListeners('data');\n      this.socket = tls.connect(this.tlsOptions({\n        socket: this.socket,\n      }));\n      this.attachSocket(this.socket);\n      await new Promise((resolve, reject) => {\n        this.socket.once('secureConnect', resolve);\n        this.socket.once('error', reject);\n      });\n    }\n  }\n\n  nextTag() {\n    this.tagCounter += 1;\n    return `A${String(this.tagCounter).padStart(4, '0')}`;\n  }\n\n  command(commandText, timeoutMs = 60000) {\n    const tag = this.nextTag();\n    this.socket.write(`${tag} ${commandText}\\r\\n`, 'binary');\n    const pattern = new RegExp(`(^|\\\\r\\\\n)${tag} (OK|NO|BAD)[^\\\\r\\\\n]*(\\\\r\\\\n|$)`);\n    return this.readWith((buffer) => {\n      const match = pattern.exec(buffer);\n      if (!match) return null;\n      const end = match.index + match[0].length;\n      const response = buffer.slice(0, end);\n      if (match[2] !== 'OK') throw new Error(`IMAP ${commandText} failed: ${response}`);\n      return { value: response, consumed: end };\n    }, timeoutMs);\n  }\n\n  async login(username, password) {\n    await this.command(`LOGIN ${quoteString(username)} ${quoteString(password)}`);\n  }\n\n  async select(mailbox) {\n    await this.command(`SELECT ${quoteString(mailbox)}`);\n  }\n\n  async mailboxExists(mailbox) {\n    const response = await this.command(`LIST \"\" ${quoteString(mailbox)}`);\n    return /\\* LIST /i.test(response);\n  }\n\n  async searchMessageId(mailbox, messageId) {\n    await this.select(mailbox);\n    const response = await this.command(`UID SEARCH HEADER Message-ID ${quoteString(messageId)}`);\n    return parseSearchResponse(response);\n  }\n\n  async copyUid(uid, destination) {\n    await this.command(`UID COPY ${uid} ${quoteString(destination)}`, 120000);\n  }\n\n  async logout() {\n    try {\n      await this.command('LOGOUT', 10000);\n    } finally {\n      this.socket?.end();\n    }\n  }\n}\n\nfunction quoteString(value) {\n  return `\"${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"`;\n}\n\nfunction parseSearchResponse(response) {\n  const match = response.match(/\\* SEARCH([^\\r\\n]*)/i);\n  if (!match) return [];\n  return match[1].trim().split(/\\s+/).filter(Boolean);\n}\n\nfunction boolValue(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n}\n\nfunction numberValue(value, fallback, description) {\n  const raw = value === undefined || value === null || value === '' ? fallback : value;\n  const parsed = Number(raw);\n  if (!Number.isFinite(parsed)) {\n    throw new Error(`${description} must be a number`);\n  }\n  return parsed;\n}\n\nfunction configValue(source, key, fallback) {\n  const value = source[key];\n  return value === undefined || value === null || value === '' ? fallback : value;\n}\n\nfunction envValue(name) {\n  try {\n    if (typeof $vars !== 'undefined' && $vars?.[name]) return $vars[name];\n  } catch {}\n  try {\n    if (typeof vars !== 'undefined' && vars?.[name]) return vars[name];\n  } catch {}\n  try {\n    if (typeof $env !== 'undefined' && $env?.[name]) return $env[name];\n  } catch {}\n  try {\n    if (typeof env !== 'undefined' && env?.[name]) return env[name];\n  } catch {}\n  return '';\n}\n\nfunction normalizeCredentialPair(item) {\n  const pair = item.credentialPair && typeof item.credentialPair === 'object'\n    ? item.credentialPair\n    : {};\n  const id = String(configValue(pair, 'id', item.credentialPairId || 'imap-1'));\n  const hostVar = String(configValue(pair, 'hostVar', configValue(item, 'hostVar', 'IMAP_HOST')));\n  const portVar = String(configValue(pair, 'portVar', configValue(item, 'portVar', 'IMAP_PORT')));\n\n  return {\n    id,\n    host: String(envValue(hostVar) || configValue(pair, 'host', configValue(item, 'imapHost', '192.168.3.200'))),\n    port: numberValue(\n      envValue(portVar) || configValue(pair, 'port', configValue(item, 'imapPort', 1143)),\n      1143,\n      `Credential pair ${id} port`,\n    ),\n    hostVar,\n    portVar,\n    ssl: boolValue(pair.ssl ?? pair.imapSsl, boolValue(item.imapSsl, false)),\n    startTls: boolValue(pair.startTls ?? pair.imapStartTls, boolValue(item.imapStartTls, true)),\n    allowUnauthorizedCerts: boolValue(\n      pair.allowUnauthorizedCerts,\n      boolValue(item.allowUnauthorizedCerts, true),\n    ),\n    userVar: String(configValue(pair, 'userVar', configValue(item, 'userVar', 'IMAP_USER'))),\n    passwordVar: String(configValue(pair, 'passwordVar', configValue(item, 'passwordVar', 'IMAP_PASSWORD'))),\n    labelPrefix: String(configValue(pair, 'labelPrefix', configValue(item, 'labelPrefix', 'Labels'))),\n    stateLabel: String(configValue(pair, 'stateLabel', configValue(item, 'stateLabel', 'Classified'))),\n  };\n}\n\nconst item = $input.first()?.json ?? {};\nconst pair = normalizeCredentialPair(item);\nconst targetMailboxes = Array.isArray(item.targetMailboxes)\n  ? item.targetMailboxes\n  : [\n      ...(Array.isArray(item.labelMailboxes) ? item.labelMailboxes : []),\n      `${pair.labelPrefix}/${pair.stateLabel}`,\n    ];\n\nconst uniqueTargets = [...new Set(targetMailboxes.filter(Boolean))];\nconst dryRun = boolValue(item.dryRun, false);\n\nif (dryRun) {\n  return [{\n    json: {\n      ...item,\n      destination_actions: Object.fromEntries(uniqueTargets.map((target) => [target, 'would_apply_label'])),\n      source_action: 'would_keep_in_source',\n    },\n  }];\n}\n\nconst username = envValue(pair.userVar);\nconst password = envValue(pair.passwordVar);\nif (!username || !password) {\n  throw new Error(`Credential pair ${pair.id} requires n8n variables ${pair.userVar} and ${pair.passwordVar}.`);\n}\n\nconst config = {\n  host: envValue(pair.hostVar) || pair.host,\n  port: numberValue(envValue(pair.portVar) || pair.port, pair.port, `Credential pair ${pair.id} port`),\n  ssl: pair.ssl,\n  startTls: pair.startTls,\n  allowUnauthorizedCerts: pair.allowUnauthorizedCerts,\n};\n\nconst sourceMailbox = String(configValue(item, 'sourceMailbox', 'INBOX'));\nconst client = new ImapClient(config);\nconst destinationActions = {};\n\ntry {\n  await client.connect();\n  await client.login(username, password);\n\n  const missingMailboxes = [];\n  for (const mailbox of uniqueTargets) {\n    if (!(await client.mailboxExists(mailbox))) {\n      missingMailboxes.push(mailbox);\n    }\n  }\n\n  if (missingMailboxes.length > 0) {\n    return [{\n      json: {\n        ...item,\n        label_application_skipped: true,\n        missingMailboxes,\n        destination_actions: Object.fromEntries(\n          uniqueTargets.map((target) => [target, 'skipped_missing_mailbox']),\n        ),\n        source_action: 'kept_in_source',\n      },\n    }];\n  }\n\n  let uid = String(item.uid || '');\n  if (!uid && item.message_id) {\n    const matches = await client.searchMessageId(sourceMailbox, item.message_id);\n    uid = matches.at(-1) || '';\n  }\n  if (!uid) {\n    throw new Error('Email item did not include an IMAP UID or searchable Message-ID.');\n  }\n\n  await client.select(sourceMailbox);\n  for (const mailbox of uniqueTargets) {\n    await client.copyUid(uid, mailbox);\n    destinationActions[mailbox] = 'label_applied';\n  }\n} finally {\n  await client.logout().catch(() => {});\n}\n\nreturn [{\n  json: {\n    ...item,\n    destination_actions: destinationActions,\n    source_action: 'kept_in_source',\n  },\n}];\n"
      }
    },
    {
      "id": "40aaf7ec-7458-4578-8752-9012c5faec18",
      "name": "Inspect Proton label targets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1270,
        360
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "accepted-label-names",
              "name": "acceptedLabelNames",
              "value": "={{ $json.labels.map(label => label.label).join(\", \") }}",
              "type": "string"
            },
            {
              "id": "target-mailbox-names",
              "name": "targetMailboxNames",
              "value": "={{ $json.targetMailboxes.join(\", \") }}",
              "type": "string"
            },
            {
              "id": "classification-reason",
              "name": "classificationReason",
              "value": "={{ $json.classification.reason }}",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configure Proton IMAP batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Proton IMAP batch": {
      "main": [
        [
          {
            "node": "Get next 50 unclassified emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get next 50 unclassified emails": {
      "main": [
        [
          {
            "node": "Expand fetched emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand fetched emails": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Emails": {
      "main": [
        [
          {
            "node": "Get next 50 unclassified emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build classification prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Normalize trigger email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize trigger email": {
      "main": [
        [
          {
            "node": "Build classification prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build classification prompt": {
      "main": [
        [
          {
            "node": "Classify with Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify with Ollama",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classification JSON Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classify with Ollama",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Classify with Ollama": {
      "main": [
        [
          {
            "node": "Prepare Proton label targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Proton label targets": {
      "main": [
        [
          {
            "node": "Inspect Proton label targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From bulk loop?": {
      "main": [
        [
          {
            "node": "Apply Proton labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Proton labels (trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Proton labels": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inspect Proton label targets": {
      "main": [
        [
          {
            "node": "From bulk loop?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "pinData": {}
}
